.services-background {
  background: url("../images/second-page-title.jpg") center no-repeat;
  min-height: 380px;
  align-items: center;
  display: flex;
  justify-content: center; }

.services-title {
  max-width: 800px;
  align-self: center; }
  .services-title h1 {
    cursor: default;
    line-height: 40px;
    text-align: center;
    font-family: 'Humanist777BT-BlackB';
    margin: 0 0 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 45px; }
  .services-title p {
    cursor: default;
    font-family: 'OpenSans';
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 18px; }

.section-registration {
  height: auto; }

.section-step {
  padding: 30px 0 45px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  background: #f5f5f5; }
  .section-step .container {
    display: flex;
    justify-content: space-between; }

.step-form-group {
  background: #f5f5f5;
  width: 100%;
  margin-bottom: 0; }
  .step-form-group .nav {
    background: #f5f5f5;
    width: 70%;
    display: flex;
    margin-bottom: 0;
    border: none;
    padding: 0; }
    .step-form-group .nav label {
      font-weight: normal;
      color: #fff;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-size: 10px; }
    .step-form-group .nav li {
      margin-right: 10px;
      width: 100%; }
      .step-form-group .nav li:before {
        z-index: 1;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        border: 20px solid transparent;
        border-left: 15px solid #f5f5f5; }
      .step-form-group .nav li a {
        border-radius: 0; }
    .step-form-group .nav .step-1:before {
      border: none !important; }
    .step-form-group .nav li.disabled {
      background: #cccccc; }
      .step-form-group .nav li.disabled:after {
        z-index: 10;
        content: '';
        position: absolute;
        right: -35px;
        bottom: 0;
        border: 20px solid transparent;
        border-left: 15px solid #cccccc; }
      .step-form-group .nav li.disabled a:hover {
        background: #cccccc; }
    .step-form-group .nav li.active a {
      background: #00aeff; }
      .step-form-group .nav li.active a:hover {
        background: #00aeff; }
    .step-form-group .nav li.active {
      background: #00aeff; }
      .step-form-group .nav li.active:after {
        z-index: 10;
        content: '';
        position: absolute;
        right: -35px;
        bottom: 0;
        border: 20px solid transparent;
        border-left: 15px solid #00aeff; }
      .step-form-group .nav li.active:hover {
        background: #00aeff; }
    .step-form-group .nav li {
      background: #02447e; }
      .step-form-group .nav li:after {
        z-index: 10;
        content: '';
        position: absolute;
        right: -35px;
        bottom: 0;
        border: 20px solid transparent;
        border-left: 15px solid #02447e; }
      .step-form-group .nav li a:hover {
        background: #02447e; }
  .step-form-group .step-1 label:before {
    margin-right: 10px;
    vertical-align: middle;
    content: url("../images/icons/first-step.png"); }
  .step-form-group .step-2 label:before {
    margin-right: 10px;
    vertical-align: middle;
    content: url("../images/icons/second-step.png"); }
  .step-form-group .step-3 label:before {
    margin-right: 10px;
    vertical-align: middle;
    content: url("../images/icons/third-step.png"); }
  .step-form-group .step-4 label:before {
    margin-right: 10px;
    vertical-align: middle;
    content: url("../images/icons/fourth-step.png"); }

.service-container {
  padding: 0 50px; }

.step-form-group .nav li.disabled label {
  cursor: not-allowed; }

.step-form-group .nav label {
  cursor: pointer; }

.tabs-container {
  padding: 0 50px; }

#step-1 .sidebar {
  margin-left: 30px; }

.first-tab {
  width: 75%; }
  .first-tab .service-details-title {
    margin-bottom: 25px; }
    .first-tab .service-details-title ol {
      margin: 0 0 5px 5px;
      padding: 0; }
      .first-tab .service-details-title ol li {
        cursor: default;
        color: #21374c;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        padding-left: 50px; }
    .first-tab .service-details-title label {
      margin-top: 5px;
      display: block;
      text-transform: none;
      cursor: default;
      font-weight: normal;
      font-family: "Open Sans", sans-serif;
      color: #00aeff;
      font-size: 14px;
      font-style: italic; }
  .first-tab .service-includes {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .first-tab .service-includes-elem {
      cursor: pointer;
      width: 220px;
      padding: 20px 25px;
      flex-direction: column;
      display: flex;
      justify-content: center;
      background: #fff;
      margin-right: 10px; }
      .first-tab .service-includes-elem-button {
        width: 100%;
        text-align: center;
        align-self: center; }
    .first-tab .service-includes img {
      height: 78px;
      max-width: 120px;
      width: 100%;
      align-self: center; }
    .first-tab .service-includes .active-button {
      background: #8db74c !important; }
    .first-tab .service-includes .btn {
      text-transform: uppercase;
      padding: 8px;
      max-width: 125px;
      width: 100%;
      font-size: 12px;
      border-radius: 0;
      background: #00aeff;
      color: #fff;
      border: none;
      font-family: "Open Sans", sans-serif;
      font-weight: bold; }
      .first-tab .service-includes .btn:hover {
        background: #8db74c;
        outline: none;
        box-shadow: none;
        transition: all 0.15s linear;
        border: none; }
      .first-tab .service-includes .btn:focus {
        outline: none; }
    .first-tab .service-includes .line {
      margin: 25px 0 15px;
      align-self: center;
      height: 2px;
      background: #00aeff;
      width: 55px; }
  .first-tab .service-free {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px 0 35px;
    background: #fff; }
    .first-tab .service-free div {
      width: 50%; }
    .first-tab .service-free .service-free-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0 10px 0 0;
      padding: 0; }
      .first-tab .service-free .service-free-list li {
        color: #565656;
        font-size: 16px;
        font-family: FiraSans-Regular;
        margin-bottom: 30px;
        cursor: pointer; }
      .first-tab .service-free .service-free-list .elem1:before {
        content: url("../images/icons/service-icon1.png");
        vertical-align: sub;
        margin-right: 30px; }
      .first-tab .service-free .service-free-list .elem2:before {
        content: url("../images/icons/service-icon2.png");
        vertical-align: sub;
        margin-right: 30px; }
      .first-tab .service-free .service-free-list .elem3:before {
        content: url("../images/icons/service-icon3.png");
        vertical-align: sub;
        margin-right: 30px; }
      .first-tab .service-free .service-free-list .elem4:before {
        content: url("../images/icons/service-icon4.png");
        vertical-align: sub;
        margin-right: 30px; }
      .first-tab .service-free .service-free-list .elem5:before {
        content: url("../images/icons/service-icon5.png");
        vertical-align: sub;
        margin-right: 30px; }
      .first-tab .service-free .service-free-list .elem6:before {
        content: url("../images/icons/service-icon6.png");
        vertical-align: sub;
        margin-right: 30px; }

.service-free-title {
  width: 55%; }
  .service-free-title li {
    position: relative; }
    .service-free-title li:after {
      content: url("../images/service-icon.png");
      right: 0;
      position: absolute;
      top: -15px; }

.services-additional {
  margin-bottom: 40px; }
  .services-additional .services-additional-row {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: row; }
  .services-additional .second-row {
    justify-content: center; }
  .services-additional .services-additional-elem {
    position: relative;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    width: 100%;
    max-width: 265px;
    min-height: 200px;
    margin: 0 10px 10px 0;
    background: #fff; }
    .services-additional .services-additional-elem span {
      font-size: 12px;
      color: #b4b4b4;
      font-family: "Open Sans", sans-serif; }
  .services-additional .services-additional-title {
    position: relative;
    margin-bottom: 15px; }
    .services-additional .services-additional-title h2 {
      color: #565656;
      font-family: FiraSans-Regular;
      font-size: 16px;
      margin: 0 0 5px 60px; }
    .services-additional .services-additional-title label {
      font-style: normal;
      padding: 0;
      margin: 0 0 0 60px;
      font-size: 14px;
      color: #26b4ff;
      font-family: FiraSans-Regular;
      text-transform: uppercase; }
  .services-additional .title1:before {
    top: -5px;
    position: absolute;
    content: url("../images/icons/window-icon.png"); }
  .services-additional .title2:before {
    top: -5px;
    position: absolute;
    content: url("../images/icons/louvers.png"); }
  .services-additional .title3 h2 {
    margin: 0 0 5px 40px; }
  .services-additional .title3:before {
    top: -5px;
    position: absolute;
    content: url("../images/icons/fridge-icon.png"); }
  .services-additional .title4:before {
    top: -5px;
    position: absolute;
    content: url("../images/icons/iro-icon.png"); }
  .services-additional .title5 h2 {
    margin: 0 0 5px 45px; }
  .services-additional .title5:before {
    top: -5px;
    position: absolute;
    content: url("../images/icons/cooker-icon.png"); }
  .services-additional .services-additional-button {
    position: relative;
    z-index: 200;
    text-align: center;
    width: 100%; }
    .services-additional .services-additional-button .add-button {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 12px;
      width: 100%;
      margin-top: 25px;
      padding: 8px;
      border-radius: 0;
      background: #8db74c;
      color: #fff;
      border: 1px solid transparent;
      text-transform: uppercase; }
      .services-additional .services-additional-button .add-button:hover {
        background: #fff;
        outline: none;
        box-shadow: none;
        transition: all 0.15s linear;
        border: 1px solid #8db74c;
        color: #8db74c; }
      .services-additional .services-additional-button .add-button:focus {
        outline: none; }
  .services-additional .services-additional-button {
    text-align: center;
    width: 100%; }
    .services-additional .services-additional-button .cancel-button {
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      width: 100%;
      margin-top: 5px;
      padding: 8px;
      border-radius: 0;
      background: #00aeff;
      color: #fff;
      border: 1px solid transparent;
      text-transform: uppercase; }
      .services-additional .services-additional-button .cancel-button:hover {
        background: #fff;
        outline: none;
        box-shadow: none;
        transition: all 0.15s linear;
        border: 1px solid #00aeff;
        color: #00aeff; }
      .services-additional .services-additional-button .cancel-button:focus {
        outline: none; }

.services-additional-elem-hover {
  position: absolute;
  padding: 25px 35px;
  top: 50%;
  width: 100%;
  background: #fff;
  left: 0;
  z-index: 100;
  display: none; }
  .services-additional-elem-hover input[type=checkbox]:not(old) + label {
    margin-left: 0; }
  .services-additional-elem-hover .checkbox {
    margin: 0 0 15px; }
    .services-additional-elem-hover .checkbox label {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      font-family: "Open Sans",sans-serif;
      font-weight: normal;
      font-size: 12px;
      color: #c9c9c9; }
  .services-additional-elem-hover .add-button {
    margin-top: 0 !important; }
  .services-additional-elem-hover input[type=checkbox]:not(old) + label > span {
    margin: 0.25em 0 0.25em 0.25em; }
  .services-additional-elem-hover input[type=checkbox]:not(old):checked + label > span:before {
    content: url("../images/icons/checkbox-icon1.png"); }
  .services-additional-elem-hover .price {
    font-weight: normal;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: FiraSans-Regular;
    font-size: 14px;
    color: #aeaeae; }
    .services-additional-elem-hover .price span {
      font-weight: normal;
      margin-left: 20px;
      color: #8db74c;
      font-size: 14px;
      font-family: FiraSans-Regular; }

.service-materials {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .service-materials-elem {
    width: 100%;
    margin-right: 10px; }
  .service-materials .btn {
    width: 100%;
    border-radius: 0;
    color: #c3e9fc;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background: #94d9fa;
    border: none;
    font-size: 12px;
    height: 45px; }
    .service-materials .btn:hover, .service-materials .btn:focus {
      outline: none; }
    .service-materials .btn:hover {
      transition: all 0.15s linear;
      background: #00aeff;
      color: #fff;
      border: none; }

.service-materials .btn.service-materials-active-button {
  background: #00aeff;
  color: #fff;
  border: none; }

.service-difficult {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .service-difficult-elem {
    margin-bottom: 10px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    position: relative;
    cursor: pointer;
    padding: 0 20px 0;
    background: #fff;
    margin-right: 10px;
    width: 240px;
    z-index: 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .service-difficult-elem img {
      align-self: center;
      max-width: 60px;
      width: 100%; }
    .service-difficult-elem .image {
      text-align: center;
      height: 64px; }
    .service-difficult-elem .line {
      margin: 15px 0 25px;
      align-self: center;
      height: 2px;
      background: #00aeff;
      width: 55px; }
    .service-difficult-elem label {
      cursor: pointer;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: #00aeff;
      text-transform: uppercase;
      align-self: center;
      width: 100%;
      text-align: center; }
    .service-difficult-elem .human-label {
      color: #8db74c; }
    .service-difficult-elem .checkbox {
      margin: 0;
      align-self: flex-end; }
    .service-difficult-elem .checkbox-label {
      margin: 0;
      padding: 0; }
  .service-difficult input[type=checkbox]:not(old) + label > span {
    vertical-align: top;
    margin: 0.25em 0 0.25em 0.25em; }
  .service-difficult input[type=checkbox]:not(old):checked + label > span:before {
    content: url("../images/icons/checkbox-icon.png");
    margin: -9px 0 0 1px; }

.service-difficult-elem-hover {
  display: none;
  opacity: 0;
  padding: 0 20px 35px;
  position: absolute;
  top: 80%;
  z-index: 300;
  width: 100%;
  background: #fff;
  left: 0; }
  .service-difficult-elem-hover .hover-label {
    margin: 25px 0 25px;
    text-transform: none;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: normal; }
  .service-difficult-elem-hover .checkbox-label {
    color: #9ea1a2;
    text-transform: none;
    font-family: FiraSans-Regular;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: space-between; }

.service-difficult .service-difficult-elem-hover input[type=checkbox]:not(old):checked + label > span:before {
  margin: -7px 0 0 1px !important; }

.service-difficult-elem:hover .service-difficult-elem-hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); }

.service-difficult-elem:active,
.service-difficult-elem:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }

.service-quality {
  padding: 60px 25px 35px;
  background: #fff; }
  .service-quality .service-quality-title {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column; }
  .service-quality h2 {
    cursor: default;
    line-height: 30px;
    margin: 0 0 18px;
    text-align: center;
    font-family: FiraSans-Regular;
    color: #00aeff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase; }
  .service-quality .line {
    width: 300px;
    align-self: center;
    height: 2px;
    background: #66ceff; }
  .service-quality-elem {
    margin-bottom: 30px;
    display: flex; }
    .service-quality-elem .icon {
      margin-right: 35px; }
  .service-quality .service-quality-lists {
    align-self: center;
    flex-direction: row;
    display: flex;
    justify-content: space-around; }
    .service-quality .service-quality-lists ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .service-quality .service-quality-lists ul li {
        cursor: pointer;
        font-size: 14px;
        color: #b3b3b3;
        font-family: 'FiraSans-ExtraLight', sans-serif;
        padding: 0 0 10px 20px; }
      .service-quality .service-quality-lists ul .list-title {
        position: relative;
        font-family: 'FiraSans-ExtraLight', sans-serif;
        padding-left: 0;
        color: #00aaff;
        text-transform: uppercase;
        font-size: 18px; }
  .service-quality .price {
    display: flex;
    justify-content: flex-end;
    text-align: right; }
    .service-quality .price .price-text {
      padding-bottom: 15px;
      width: 40%;
      border-bottom: 1px solid #33beff; }
    .service-quality .price p {
      color: #b9b9b9;
      font-size: 14px;
      font-style: italic;
      font-family: 'FiraSans-ExtraLight', sans-serif;
      margin-bottom: 20px; }
    .service-quality .price label {
      margin: 0;
      font-size: 14px;
      color: #00aeff;
      font-family: FiraSans-Regular;
      font-weight: normal;
      font-style: italic; }
    .service-quality .price input[type=checkbox]:not(old):checked + label > span:before {
      content: url("../images/icons/checkbox-icon.png"); }

.service-details-button {
  text-align: right;
  margin-top: 25px; }
  .service-details-button .btn {
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'FiraSans-Regular';
    background: #00aeff;
    border: 1px solid transparent;
    width: 160px;
    height: 35px; }
    .service-details-button .btn:hover, .service-details-button .btn:focus {
      outline: none; }
    .service-details-button .btn:hover {
      background: #fff;
      color: #00aeff;
      border: 1px solid  #00aeff; }

.data-section .service-details-title {
  margin-bottom: 25px; }
  .data-section .service-details-title ol {
    margin: 0 0 5px 5px;
    padding: 0; }
    .data-section .service-details-title ol li {
      cursor: default;
      color: #21374c;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      padding-left: 50px; }
  .data-section .service-details-title label {
    margin-top: 5px;
    display: block;
    text-transform: none;
    cursor: default;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    color: #00aeff;
    font-size: 14px;
    font-style: italic; }

.data-section .insurance {
  display: flex;
  justify-content: center; }
  .data-section .insurance-elem {
    cursor: pointer;
    position: relative;
    margin: 0 10px 10px 0;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    width: 240px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #f0f0f0; }
    .data-section .insurance-elem .btn {
      border-radius: 0;
      color: #fff;
      text-transform: uppercase;
      font-family: 'FiraSans-Bold';
      background: #00aeff;
      border: 1px solid transparent;
      width: 150px;
      height: 40px; }
      .data-section .insurance-elem .btn:hover, .data-section .insurance-elem .btn:focus {
        outline: none; }
      .data-section .insurance-elem .btn:hover {
        background: #fff;
        color: #00aeff;
        border: 1px solid  #00aeff; }
  .data-section .insurance .insurance-elem-text {
    z-index: 10;
    text-align: center;
    align-self: center; }
    .data-section .insurance .insurance-elem-text h2 {
      margin: 0 0 20px;
      color: #42bdff;
      font-size: 14px;
      text-transform: uppercase;
      font-family: FiraSans-Regular; }
    .data-section .insurance .insurance-elem-text p {
      margin-bottom: 20px;
      font-size: 12px;
      color: #828282;
      font-family: 'FiraSans-ExtraLight'; }

.insurance-elem-hover {
  cursor: pointer;
  border-radius: 10px;
  align-self: center;
  position: absolute;
  opacity: 0;
  z-index: 0;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  justify-content: center;
  display: flex;
  padding: 0 25px; }
  .insurance-elem-hover h2 {
    color: #fff !important; }
  .insurance-elem-hover p {
    color: #fff !important; }

.second-tab {
  width: 80%; }

.insurance-elem:hover .insurance-elem-hover {
  opacity: 1;
  z-index: 20;
  background: #4f5d6b;
  transition: all 0.20s linear; }

.fourth-tab {
  width: 60%; }

.third-tab {
  width: 75%; }
  .third-tab .form-registration .registration-title {
    margin: 0 0 30px;
    color: #21374c;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; }
  .third-tab .form-registration .btn {
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    color: #fff;
    text-transform: uppercase;
    font-family: 'FiraSans-Regular';
    background: #8db74c;
    border: 1px solid transparent;
    width: 275px;
    height: 45px; }
    .third-tab .form-registration .btn:hover, .third-tab .form-registration .btn:focus {
      outline: none; }
    .third-tab .form-registration .btn:hover {
      background: #f5f5f5;
      box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      transition: all 0.15s linear;
      color: #8db74c;
      border: 1px solid  #8db74c; }
  .third-tab .form-registration h2 {
    margin: 35px 0 15px;
    color: #21374c;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; }
  .third-tab .form-registration .form-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0; }
  .third-tab .form-registration label {
    color: #525252;
    font-family: FiraSans-Bold;
    font-size: 16px;
    display: block;
    font-weight: bold;
    margin: 15px 0 10px; }
  .third-tab .form-registration .form-inline .form-group {
    width: 100%;
    margin-right: 10px; }
  .third-tab .form-registration .form-inline.third-row {
    max-width: 50%; }
  .third-tab .form-registration input {
    font-family: FiraSans-Regular;
    height: 35px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #fff;
    color: #7b7b7b; }
    .third-tab .form-registration input:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid #a2a2a2; }
  .third-tab .form-registration .lg-form-inline .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .third-tab .form-registration .lg-form-inline input {
    margin-right: 10px; }
  .third-tab .form-registration .form-group-elem {
    width: 60%; }
  .third-tab .form-registration .lg-form-inline-elem {
    width: 70%; }
  .third-tab .form-registration .checkbox-form label {
    font-family: 'FiraSans-UltraLight';
    font-weight: 200;
    font-size: 18px;
    margin: 0; }
  .third-tab .form-registration .checkbox-form input {
    height: 0; }
  .third-tab .form-registration .checkbox-form input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 1.5em 0.3em 0.2em; }
  .third-tab .form-registration .checkbox-form input[type=checkbox]:not(old):checked + label > span:before {
    cursor: pointer;
    content: url("../images/icons/checkbox.png");
    display: block;
    margin: -7px 0 0 4px; }
  .third-tab .form-registration .button-registration {
    text-align: right; }
    .third-tab .form-registration .button-registration .btn {
      border-radius: 0;
      margin-top: 40px;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      color: #fff;
      text-transform: uppercase;
      font-family: 'FiraSans-Regular';
      background: #8db74c;
      border: 1px solid transparent;
      width: 180px;
      height: 45px; }
      .third-tab .form-registration .button-registration .btn:hover, .third-tab .form-registration .button-registration .btn:focus {
        outline: none; }
      .third-tab .form-registration .button-registration .btn:hover {
        background: #f5f5f5;
        box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        transition: all 0.15s linear;
        color: #8db74c;
        border: 1px solid  #8db74c; }

.setup-content {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.pay-system-section h2 {
  cursor: default;
  color: #21374c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 20px; }

.pay-system-section .pay-cards {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between; }
  .pay-system-section .pay-cards-elem {
    margin-right: 10px; }
  .pay-system-section .pay-cards img {
    width: 100%; }

.pay-system-section .checkbox-form label {
  color: #999999;
  font-family: FiraSans-Regular;
  font-style: italic;
  font-size: 16px;
  font-weight: normal; }

.pay-system-section .checkbox-form input[type=checkbox]:not(old) + label > span {
  width: 25px;
  height: 25px;
  border-radius: 20px; }

.pay-system-section .checkbox-form input[type=checkbox]:not(old):checked + label > span:before {
  content: url("../images/icons/pay-checkbox.png");
  margin: -1px 0 0 -1px; }

.pay-system-section .checkbox-form input[type=checkbox]:not(old) + label {
  margin-left: 0; }

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  width: 240px; }
  .sidebar h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
    cursor: default;
    color: #21374c;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold; }

.sidebar-form .form-group {
  display: flex;
  justify-content: space-between; }

.sidebar-form input {
  width: 100%;
  height: 30px;
  text-align: right;
  padding-right: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #fff;
  color: #7b7b7b; }
  .sidebar-form input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #a2a2a2; }

.sidebar-form span {
  color: #7b7b7b;
  margin: 5px 0 0 10px;
  font-size: 14px;
  font-family: FiraSans-Regular; }

.sidebar-form-list {
  display: flex;
  list-style: none;
  margin: 15px 0 0 15px;
  padding: 0;
  flex-direction: column; }
  .sidebar-form-list li {
    cursor: default;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 15px;
    color: #565656;
    font-size: 14px;
    font-family: FiraSans-Regular; }
  .sidebar-form-list span {
    cursor: default;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #30b8fe; }

.sidebar-form .price-button .btn {
  border-radius: 0;
  color: #00aeff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background: #fff;
  border: 2px solid #00aeff;
  width: 100%;
  height: 40px; }
  .sidebar-form .price-button .btn:hover, .sidebar-form .price-button .btn:focus {
    outline: none; }
  .sidebar-form .price-button .btn:hover {
    background: #fff;
    color: #00aeff;
    border: 2px solid  #00aeff; }
  .sidebar-form .price-button .btn:before {
    margin-right: 10px;
    vertical-align: sub;
    content: url("../images/icons/price.png"); }

.sidebar-form .price-button span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #00aeff; }

.sidebar-form .continue-button .btn {
  margin-top: 15px;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: #00aeff;
  border: 2px solid #00aeff;
  width: 100%;
  height: 40px; }
  .sidebar-form .continue-button .btn:hover, .sidebar-form .continue-button .btn:focus {
    box-shadow: none;
    outline: none; }
  .sidebar-form .continue-button .btn:hover {
    background: #fff;
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    transition: all 0.15s linear;
    color: #00aeff;
    border: 2px solid  #00aeff; }

@media (max-width: 1200px) and (min-width: 992px) {
  .first-tab .service-includes img {
    height: 70px; } }

@media (max-width: 1200px) {
  .third-tab {
    width: 70%; }
  .first-tab {
    width: 75%; } }

@media (min-width: 1200px) {
  .services-background {
    background-size: 100%; } }

@media (max-width: 1100px) {
  .first-tab .service-details-title ol {
    margin-left: 15px; } }

@media (max-width: 992px) {
  .step-form-group .nav {
    width: 100%; }
  .third-tab .form-registration .form-inline.third-row {
    max-width: 100%; }
  .third-tab .form-registration .lg-form-inline-elem {
    width: 100%; }
  .third-tab {
    width: 100%; }
  .first-tab {
    width: 100%; }
  .first-tab .service-includes {
    flex-wrap: wrap;
    justify-content: center; }
    .first-tab .service-includes-elem {
      width: 230px;
      margin-bottom: 10px; }
  .sidebar {
    margin: 30px 0 0 0;
    width: 100%;
    justify-content: center; }
    .sidebar .sidebar-form {
      width: 240px;
      align-self: center; }
  #step-1 .sidebar {
    margin-left: 0; }
  .setup-content {
    flex-direction: column; }
  .service-container {
    padding: 0 20px; }
  .fourth-tab {
    width: 100%; }
  .second-tab {
    width: 100%; } }

@media (max-width: 767px) {
  .step-form-group .nav {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
  .step-form-group .nav li {
    margin-bottom: 10px;
    width: 50%; }
  .step-form-group .nav a {
    margin-bottom: 0; }
  .section-step .container {
    flex-direction: column-reverse; }
  .services-title {
    padding: 0 30px; }
    .services-title h1 {
      font-size: 25px;
      line-height: 30px; }
  .services-title p {
    font-size: 14px; }
  .setup-content {
    flex-direction: column; }
  .sidebar {
    margin: 30px 0 0 0;
    width: 100%;
    justify-content: center; }
    .sidebar .sidebar-form {
      width: 240px;
      align-self: center; }
  #step-1 .sidebar {
    margin-left: 0; }
  .third-tab {
    width: 100%; }
  .first-tab {
    width: 100%; }
  .first-tab .service-includes {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .first-tab .service-includes-elem {
    width: 220px; }
  .first-tab .service-free {
    flex-direction: column; }
  .first-tab .service-free div {
    width: 100%; }
  .services-additional .services-additional-row {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column; }
  .services-additional .services-additional-elem {
    align-self: center; }
  .service-free-title {
    width: 100%; }
  .service-quality .service-quality-lists {
    align-self: center;
    flex-direction: column;
    display: flex;
    justify-content: center; }
  .service-quality {
    padding: 60px 50px 20px; }
  .service-quality .price .price-text {
    width: 100%; } }

@media (max-width: 505px) {
  .service-materials {
    flex-direction: column;
    justify-content: center; }
  .service-materials-elem {
    text-align: center; }
  .service-materials .btn {
    width: 40%;
    margin: 0 0 10px; }
  .third-tab .form-registration .form-inline {
    flex-wrap: wrap; }
  .third-tab .form-registration .lg-form-inline .form-group {
    flex-wrap: wrap;
    margin-bottom: 0; }
    .third-tab .form-registration .lg-form-inline .form-group input {
      margin-bottom: 15px; }
  .third-tab .form-registration .form-group-elem {
    width: 100%; } }
