#header {
  height: 65px;
  background: #1b467b; }

.header-container {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .header-container .logo {
    flex: 1;
    padding-top: 10px; }

.header-nav {
  background-color: transparent;
  border: none; }
  .header-nav .list {
    border: none;
    list-style: none;
    margin: 0;
    padding: 15px 0 0; }
    .header-nav .list li {
      display: inline-block; }
    .header-nav .list a {
      text-transform: uppercase;
      padding-left: 35px;
      text-decoration: none;
      font-family: 'FiraSans-Regular';
      font-size: 14px;
      color: #fff; }
      .header-nav .list a:hover {
        color: #00aaff;
        transition: all 0.15s linear; }
    .header-nav .list .btn {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      border-radius: 3px;
      margin-left: 35px;
      color: #fff;
      text-transform: uppercase;
      font-family: 'FiraSans-Regular';
      background: transparent;
      border: 1px solid #fff;
      width: 120px; }
      .header-nav .list .btn:hover, .header-nav .list .btn:focus {
        background: transparent;
        outline: none; }
      .header-nav .list .btn:hover {
        box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        transition: all 0.15s linear;
        color: #00aaff;
        border: 1px solid  #00aaff; }

.header .navbar-default .navbar-toggle {
  background: transparent;
  border: none; }
  .header .navbar-default .navbar-toggle:hover, .header .navbar-default .navbar-toggle:focus {
    background: transparent;
    border: none; }

.header .navbar-collapse {
  box-shadow: none;
  width: 100%;
  border-color: transparent; }

.active-menu {
  color: #00aaff !important; }

#nav-icon3 {
  width: 40px;
  height: 45px;
  position: relative;
  margin: 6px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon3:hover span {
  background: #00aaff; }

#nav-icon3.open span {
  background: #00aaff; }

#nav-icon3 span:nth-child(1) {
  top: 9px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 23px; }

#nav-icon3 span:nth-child(4) {
  top: 36px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%; }

@media (max-width: 767px) {
  .header-container .logo {
    flex: 6; }
  .header-nav {
    flex: 4; }
  .header .navbar-collapse {
    left: 15px;
    position: absolute;
    background: #1b467b; }
  .header-nav .list {
    text-align: center; }
    .header-nav .list li {
      display: block;
      margin-bottom: 10px; }
    .header-nav .list a {
      padding: 0; }
    .header-nav .list .btn {
      margin: 0 0 10px; } }

.footer {
  max-width: 1920px;
  margin: 0 auto;
  background: #1b467b; }

.footer {
  padding-top: 35px;
  background: #1b467b; }

.footer-row-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .footer-row-first .list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer-row-first .list ul a {
      margin: 0 30px 10px 0;
      display: block;
      text-decoration: none;
      color: #fff;
      font-family: 'FiraSans-Regular';
      font-size: 14px; }
      .footer-row-first .list ul a:hover {
        color: #00aaff; }
    .footer-row-first .list ul li {
      display: inline-block; }
  .footer-row-first .social {
    margin-right: 70px;
    display: flex;
    justify-content: center;
    text-align: center; }
    .footer-row-first .social ul {
      align-self: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer-row-first .social ul a {
        display: block;
        text-decoration: none; }
      .footer-row-first .social ul li {
        margin-right: 30px;
        display: inline-block; }
    .footer-row-first .social .tw {
      background: url("../images/sprite-social.png") no-repeat -3px -3px;
      width: 24px;
      height: 21px; }
      .footer-row-first .social .tw:hover {
        background: url("../images/sprite-social-active.png") no-repeat 0 -2px; }
    .footer-row-first .social .sk {
      background: url("../images/sprite-social.png") no-repeat -29px -4px;
      width: 21px;
      height: 20px; }
      .footer-row-first .social .sk:hover {
        background: url("../images/sprite-social-active.png") no-repeat -27px -3px; }
    .footer-row-first .social .fc {
      background: url("../images/sprite-social.png") no-repeat -55px -4px;
      width: 11px;
      height: 20px; }
      .footer-row-first .social .fc:hover {
        background: url("../images/sprite-social-active.png") no-repeat -50px -3px; }
    .footer-row-first .social .gl {
      background: url("../images/sprite-social.png") no-repeat -73px -3px;
      width: 14px;
      height: 21px; }
      .footer-row-first .social .gl:hover {
        background: url("../images/sprite-social-active.png") no-repeat -64px -3px; }
    .footer-row-first .social .tm {
      background: url("../images/sprite-social.png") no-repeat -90px -4px;
      width: 13px;
      height: 21px; }
      .footer-row-first .social .tm:hover {
        background: url("../images/sprite-social-active.png") no-repeat -82px -3px; }
  .footer-row-first .button {
    text-align: center;
    display: flex;
    justify-content: flex-end; }
    .footer-row-first .button .btn {
      align-self: center;
      border-radius: 40px;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      color: #fff;
      text-transform: uppercase;
      font-family: 'FiraSans-Regular';
      background: transparent;
      border: 1px solid #fff;
      width: 180px;
      height: 33px; }
      .footer-row-first .button .btn:hover, .footer-row-first .button .btn:focus {
        outline: none; }
      .footer-row-first .button .btn:hover {
        background: transparent;
        box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        transition: all 0.15s linear;
        color: #00aaff;
        border: 1px solid  #00aaff; }

.footer-row-second {
  padding: 15px 0 0;
  margin-top: 8px;
  border-top: 1px solid #2d6494;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .footer-row-second .list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer-row-second .list ul a {
      margin: 0 30px 10px 0;
      display: block;
      text-decoration: none;
      color: #fff;
      font-family: 'FiraSans-Regular';
      font-size: 14px; }
      .footer-row-second .list ul a:hover {
        color: #00aaff; }
    .footer-row-second .list ul li {
      display: inline-block; }
  .footer-row-second .copyrights {
    display: flex; }
    .footer-row-second .copyrights label {
      font-family: FiraSans-Regular;
      font-size: 12px;
      color: #fff; }

@media (max-width: 1199px) {
  .footer-row-first .list ul a {
    margin: 0 15px 10px 0; } }

@media (max-width: 992px) and (min-width: 767px) {
  .footer-row-first .button .btn {
    margin-right: 25px; } }

@media (max-width: 992px) {
  .footer-row-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .footer-row-first .button {
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center; }
  .footer-row-first .social {
    margin: 15px 0 20px; } }

@media (max-width: 767px) {
  .footer-row-first .list ul li {
    display: block; }
    .footer-row-first .list ul li a {
      margin-right: 0; }
  .footer-row-first .social {
    margin-left: 5px; }
  .footer-row-first .button .btn {
    margin-right: 5px; }
  .footer-row-second {
    flex-direction: column;
    justify-content: center; }
    .footer-row-second .list {
      text-align: center;
      align-self: center; }
      .footer-row-second .list ul li {
        display: block; }
        .footer-row-second .list ul li a {
          margin: 0 5px 10px 0; }
    .footer-row-second .copyrights {
      align-self: center; } }
