/* GENERAL */

body {
    background: #f5f5f5;
}
.blue-btn {
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'FiraSans-Regular';
    background: #00aeff;
    padding: 6px 25px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    border: 2px solid #00aeff;
    text-decoration: none;
}
.blue-btn:hover {
    background: #fff;
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    transition: all 0.15s linear;
    color: #00aeff;
    text-decoration: none;
}
/* SUBSCRIPTION */

.subscription-card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.bookings-page .content-header,
.subscription-page .content-header {
    height: 79px;
    background-color: #9ddbf9;
    position: relative;
}
.bookings-page .content-header p,
.subscription-page .content-header p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #21374c;
}
.additional-booking-services-wrapper button,
.subscription-card button {
    width: 100%;
    min-height: 58px;
    text-transform: uppercase;
    font-family: OpenSans;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 17px;
    border-radius: 0;
    color: #fff;
}
.btn-booking-blue {
    background: #00aeff;
    border: 2px solid #00aeff;
}
.btn-booking-green {
    background: #8db74c;
    border: 2px solid #8db74c;
}
.subscription-card button {
    color: #fefefe;
    text-transform: uppercase;
    width: 216px;
    min-height: 56px;
    font-size: 18px;
    background: #02447e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
    position: absolute;
    left: calc(50% - 108px);
    bottom: 25px;
}
.additional-booking-services-wrapper button:focus,
.additional-booking-services-wrapper button:hover,
.subscription-card button:focus,
.subscription-card button:hover {
    background: #fff;
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    transition: all 0.15s linear;
    color: #00aeff;
    border: 2px solid #00aeff;
}
.additional-booking-services-wrapper .btn-booking-green:focus,
.additional-booking-services-wrapper .btn-booking-green:hover {
    border: 2px solid #8db74c;
    color: #8db74c;
}
.subscription-card button:focus,
.subscription-card button:hover {
    border: 2px solid #02447e;
    color: #02447e;
}
.superior-subscription button {
    background-color: #93cb65;
    color: #fff;
}
.deluxe-subscription button {
    background-color: #00aeff;
    color: #fff;
}
.superior-subscription button:focus,
.superior-subscription button:hover {
    border: 2px solid #93cb65;
    color: #93cb65;
}
.deluxe-subscription button:focus,
.deluxe-subscription button:hover {
    border: 2px solid #00aeff;
    color: #00aeff;
}
/* */

.subscription-wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
    max-width: 882px;
    margin-left: auto;
    margin-right: auto;
}
.subscription-card {
    border: 3px solid #02447e;
    max-width: 274px;
    min-height: 509px;
}
.superior-subscription {
    border: 3px solid #93cb65;
}
.deluxe-subscription {
    border: 3px solid #00aeff;
}
.subscription-card h2,
.subscription-card h2+p,
.subscription-price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}
.subscription-card h2 {
    color: #02447e;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}
.superior-subscription h2 {
    color: #93cb65;
}
.deluxe-subscription h2 {
    color: #00aeff;
}
.subscription-card h2+p {
    color: #b2b2b2;
    font-size: 18px;
    margin-bottom: -4px;
}
.subscription-price {
    color: #02447e;
    font-size: 18px;
    margin-bottom: 30px;
}
.superior-subscription .subscription-price {
    color: #93cb65;
}
.deluxe-subscription .subscription-price {
    color: #00aeff;
}
.subscription-card ul {
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}
.subscription-card ul li {
    font-family: 'Open Sans', sans-serif;
    color: #595959;
    position: relative;
    padding-left: 30px;
    margin-bottom: 3px;
}
.subscription-card ul li:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: 12px;
    top: 7px;
    border-radius: 3px 4px 4px 3px/3px 3px 4px 4px;
    background-color: #02447e;
}
.subscription-card img {
    position: absolute;
    left: calc(50% - 73px);
    bottom: 116px;
}
.subscription-card.superior-subscription ul li:before {
    background-color: #93cb65;
}
.subscription-card.deluxe-subscription ul li:before {
    background-color: #00aeff;
}
.subscription-wrapper+ul {
    max-width: 882px;
    margin-left: auto;
    margin-right: auto;
}
.subscription-wrapper+ul li {
    font-family: 'Open Sans', sans-serif;
    color: #595959;
    margin-bottom: 30px;
    position: relative;
    padding-left: 50px;
}
.subscription-wrapper+ul li:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: 28px;
    top: 7px;
    border-radius: 3px 4px 4px 3px/3px 3px 4px 4px;
    background-color: #02447e;
}
@media (max-width: 991px) {
    .subscription-wrapper,
    .subscription-wrapper+ul {
        max-width: 100%;
    }
    .subscription-card button {
        width: 196px;
        left: calc(50% - 98px);
    }
}
@media (max-width: 767px) {
    .subscription-wrapper {
        padding-bottom: 0px;
    }
    .subscription-card {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .tariffs-page .services-additional .services-additional-elem {
        min-height: 150px;
    }
}
/* RESPONSIVE TABLES */

.responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
    display: block;
    padding: 0;
    white-space: normal;
}
@media (min-width: 48em) {
    .responsive-table tr {
        display: table-row;
    }
}
.responsive-table th,
.responsive-table td {
    padding: .5em;
    vertical-align: middle;
}
@media (min-width: 48em) {
    .responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
    .responsive-table tbody {
        display: table-row-group;
    }
    .responsive-table tbody tr {
        display: table-row;
        border-width: 1px;
    }
    .responsive-table th,
    .responsive-table td {
        display: table-cell;
    }
}
.responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
}
.responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
}
@media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
        content: none;
    }
}
/* USER BOOKINGS PAGE */
/* IE viewport fix */

@-ms-viewport {
    width: auto!important;
}
.user-profile-button {
    font-family: OpenSans;
    font-size: 14px;
    color: #fff;
    background: #00aeff !important;
    border: 2px solid #00aeff !important;
    text-transform: none !important;
}
.user-profile-button:hover {
    background: #fff !important;
}
.bookings-page .content-header {
    height: 79px;
    background-color: #9ddbf9;
    position: relative;
}
.bookings-page .content-header p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #21374c;
}
.booking-list-wrapper {
    width: 905px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 25px;
}
.bookings-page h1 {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 300;
    color: #21374c;
    text-transform: uppercase;
    letter-spacing: -.055em;
}
.booking-list-table {
    margin-top: 15px;
    margin-bottom: 50px;
}
.booking-list-table th,
.booking-list-table td {
    font-family: OpenSans;
    text-align: center;
}
.booking-list-table th {
    font-size: 18px;
    color: #21374c;
    padding-top: 20px;
    padding-bottom: 20px;
}
.booking-list-table td {
    font-size: 16px;
    font-weight: 300;
    color: #21374c;
    padding-top: 5px;
    padding-bottom: 5px;
}
.booking-list-table th:first-of-type,
.booking-list-table td:first-of-type {
    width: 10%;
}
.booking-list-table tbody th {
    font-weight: normal;
}
.booking-list-table th:nth-of-type(2),
.booking-list-table td:nth-of-type(2) {
    width: 19%;
}
.booking-list-table th:nth-of-type(3),
.booking-list-table td:nth-of-type(3) {
    width: 50%;
}
.additional-booking-services-wrapper .row {
    margin-left: -10px;
    margin-right: -10px;
}
.additional-booking-services-wrapper .col-sm-3,
.additional-booking-services-wrapper .col-sm-6 {
    padding-left: 10px;
    padding-right: 10px;
}
.additional-booking-services-wrapper button {
    width: 100%;
    min-height: 58px;
    text-transform: uppercase;
    font-family: OpenSans;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 17px;
    border-radius: 0;
    color: #fff;
}
.btn-booking-blue {
    background: #00aeff;
    border: 2px solid #00aeff;
}
.btn-booking-green {
    background: #8db74c;
    border: 2px solid #8db74c;
}
.additional-booking-services-wrapper button:focus,
.additional-booking-services-wrapper button:hover {
    background: #fff;
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    transition: all 0.15s linear;
    color: #00aeff;
    border: 2px solid #00aeff;
}
.additional-booking-services-wrapper .btn-booking-green:focus,
.additional-booking-services-wrapper .btn-booking-green:hover {
    border: 2px solid #8db74c;
    color: #8db74c;
}
@media (max-width: 1199px) {
    .booking-list-wrapper {
        width: 100%;
    }
    .additional-booking-services-wrapper button {
        white-space: pre-line;
    }
    .additional-booking-services-wrapper button br {
        display: none;
    }
}
@media (max-width: 767px) {
    .user-profile-button {
        width: auto !important;
    }
    .booking-list-wrapper {
        width: 100%;
    }
    .booking-list-table thead {
        display: none;
    }
    .booking-list-table tbody td {
        display: block;
        padding: 7px 15px;
        width: 100% !important;
        text-align: left;
        font-style: normal !important;
    }
    .booking-list-table tbody td:nth-of-type(4),
    .booking-list-table tbody td:nth-of-type(5) {
        width: 120px !important;
        float: left;
    }
    .booking-list-table tbody tr {
        border: 1px solid #9ddbf9;
        overflow: auto;
    }
    .booking-list-table tbody tr td:first-child {
        background: #9ddbf9;
        color: #21374c;
    }
    .booking-list-table tbody th:before,
    .booking-list-table tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 120px;
    }
    .booking-list-table th {
        background: #9ddbf9;
        color: #21374c;
        text-align: left;
    }
    .booking-list-table tbody th:before {
        width: 7px;
    }
    .booking-list-table th:first-of-type,
    .booking-list-table td:first-of-type {
        width: 100%;
        font-style: normal;
    }
    .booking-list-table tbody td:nth-of-type(5):before,
    .booking-list-table tbody td:nth-of-type(6):before {
        display: none;
    }
    .booking-list-table tbody td:nth-of-type(5),
    .booking-list-table tbody td:nth-of-type(6) {}
}
/* CONFIRMATION PAGE */

.confirmation-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
.confirmation-wrapper h2 {
    line-height: 2;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.confirmation-wrapper h2:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #005783;
}
.confirmation-wrapper svg {
    max-width: 120px;
}
.confirmation-wrapper img {
    margin: 30px auto;
    display: block;
}
@media (max-width: 991px) {
    .confirmation-wrapper .title {
        display: block;
    }
}
/* NEW EMPLOYEE PAGE */

.new-employee-page .fifth-section+.title {
    margin-top: 30px;
}
.new-employee-page .fifth-section+.title .title-line {
    background: #009de2;
}
.new-employee-form-step {
    color: #21374c;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 35px 0 15px;
}
.new-employee-wrapper .blue-btn-wrapper .blue-btn {
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
    float: left;
}
.new-employee-wrapper .blue-btn-wrapper .blue-btn:first-of-type {
    margin-left: 0;
}
.new-employee-wrapper input,
.new-employee-wrapper textarea {
    border: 1px solid #dddddd;
    color: #7b7b7b;
    font-family: FiraSans-Regular;
}
.new-employee-wrapper input:focus,
.new-employee-wrapper textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #a2a2a2;
}
.new-employee-wrapper .select-styled,
.new-employee-wrapper .select-options {
    background: #fff;
    border: 1px solid #dddddd;
    color: #7b7b7b;
}
.new-employee-wrapper .select-styled {
    padding: 6px 12px;
    height: 34px;
}
.new-employee-wrapper .select-options li {
    color: #7b7b7b;
    border-bottom: 1px solid #ddd;
    padding: 12px;
}
.new-employee-wrapper .select-styled:after {
    border-color: #7b7b7b transparent transparent transparent;
    top: 16px;
}
.new-employee-wrapper .file-input {
    margin-top: 30px;
    margin-bottom: 30px;
}
.new-employee-wrapper .select-options li:first-of-type {
    display: none;
}
.select-menu label,
.new-employee-wrapper .file-input p,
.new-employee-wrapper textarea+p {
    color: #21374c;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.new-employee-wrapper textarea+p {
    margin-top: 15px;
    margin-bottom: 15px;
}
.new-employee-wrapper form>button {
    margin: 30px auto;
    display: block;
}
.input_fields_wrap>div {
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
    width: 33.33333333%;
}
.input_fields_wrap>div input {
    height: 34px;
    padding: 6px 12px;
    width: calc(100% - 34px);
}
.input_fields_wrap .add_field_button {
    float: right;
}
.input_fields_wrap .remove_field {
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    background: #00aeff;
    position: relative;
    top: 1px;
    text-align: center;
    color: #fff;
}
@media (max-width: 991px) {
    .input_fields_wrap>div {
        width: 100%;
    }
    .input_fields_wrap .add_field_button {
        float: left;
        margin-bottom: 30px;
    }
    .new-employee-page .fifth-section {
        min-height: 1px;
    }
}
/* TARRIFS PAGE */

.tariffs-page h1,
.faq-intro h1,
.faq-page h2,
.employees-page h1 {
    font-family: 'FiraSans-Regular';
    font-size: 24px;
    color: #005783;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tariffs-page .first-tab h2,
.tariffs-page .services-additional h2 {
    color: #21374c;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}
.tariffs-page {
    background: #f5f5f5;
}
.tariffs-page>div {
    margin-top: 30px;
    margin-bottom: 30px;
}
.tariffs-page .tab-content {
    background: #f5f5f5;
}
.tariffs-page .tab-pane {
    overflow: auto;
    border: 2px solid #00aeff;
    border-top: none;
}
.tariffs-page .nav-tabs {
    margin-top: 30px;
    border-bottom: 2px solid #00aeff;
}
.tariffs-page .nav-tabs>li {
    width: 48%;
    text-align: center;
    margin-right: 4%;
    margin-bottom: -2px;
}
.tariffs-page .nav-tabs>li:last-of-type {
    float: right;
    margin-right: 0;
}
.tariffs-page .nav-tabs>li a,
.tariffs-page .nav-tabs>li a:hover,
.tariffs-page .nav-tabs>li a:focus {
    background: #00aeff;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #00aeff;
    border-bottom: none;
    text-transform: uppercase;
    line-height: 56px;
    margin-right: 0;
}
.tariffs-page .nav-tabs>li.active>a {
    background: #f5f5f5;
    color: #00aeff;
}
.tariffs-page .subscription-wrapper {
    max-width: 100%;
}
.tariffs-page .subscription-card {
    max-width: 75%;
    margin-bottom: 60px;
    min-height: 480px;
}
.tariffs-page .one-time-cleaning .subscription-card {
    min-height: 320px;
}
.tariffs-page .subscription-price+p {
    /*    color: #21374c;*/
    
    text-align: center;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: FiraSans-Regular;
}
.tariffs-page .superior-subscription .subscription-price+p {
    /*    color: #93cb65;*/
}
.tariffs-page .subscription-card ul {
    max-width: 162px;
}
.tariffs-page .subscription-card ul li {
    color: #565656;
    font-family: FiraSans-Regular;
}
/*.tariffs-page .subscription-card ul li:before {
    content: "";
    position: absolute;
    width: 21px;
    height: 15px;
    left: 0px;
    top: 1px;
    background: url('../images/icons/checkbox.png') no-repeat;
}*/

.tariffs-page .subscription-card img {
    max-width: 20px;
    position: static;
    margin-right: 10px;
    margin-top: -5px;
}
.tariffs-page .subscription-card .glyphicon {
    font-size: 24px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
.tariffs-page .subscription-card.deluxe-subscription .glyphicon {
    color: #00aeff;
}
.tariffs-page .first-tab,
.tariffs-page .services-additional {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.tariffs-page .services-additional .services-additional-row {
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.tariffs-page .services-additional-title h3 {
    color: #565656;
    font-family: FiraSans-Regular;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 5px 65px;
}
.services-additional-price {
    position: absolute;
    width: 100%;
    top: 90px;
    left: 0;
    text-align: center;
    color: #565656;
    font-size: 16px;
    font-family: FiraSans-Regular;
}
.services-additional-price a {
    text-decoration: none;
}
.services-additional-price svg {
    max-width: 18px;
    max-height: 18px;
    margin-right: 15px;
    position: relative;
    top: 3px;
}
.tariffs-page .services-additional+div {
    text-align: center;
}
.tariffs-page .services-additional+div a {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: block;
    width: 130px;
    text-align: center;
}
.tariffs-page .services-additional+div p {
    color: #565656;
    font-size: 16px;
    font-family: FiraSans-Regular;
    margin-bottom: 20px;
}
@media (max-width: 1199px) {
    .tariffs-page .subscription-card {
        padding-left: 30px;
        padding-right: 30px;
    }
    .tariffs-page .one-time-cleaning .subscription-card {
        min-height: 360px;
    }
}
@media (max-width: 991px) {
    .tariffs-page .subscription-card {
        max-width: 100%;
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .tariffs-page .subscription-card {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 767px) and (orientation: landscape) {
    .tariffs-page .subscription-card {
        min-height: 360px;
    }
    .tariffs-page .one-time-cleaning .subscription-card {
        min-height: 240px;
    }
    .subscription-card h2 {
        margin-top: 20px;
    }
    .subscription-price {
        margin-bottom: 15px;
    }
    .tariffs-page .subscription-price+p {
        margin-bottom: 15px;
    }
}
/* FAQ PAGE */

.faq-page h3 {
    font-family: 'FiraSans-Regular';
    font-size: 18px;
    color: #005783;
    text-transform: uppercase;
    padding-top: 15px;
}
.faq-intro {
    padding-top: 65px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.faq-intro p {
    color: #565656;
    font-size: 16px;
    font-family: FiraSans-Regular;
}
.faq-intro-icon-wrapper {
    text-align: center;
    padding-top: 45px;
}
.faq-intro svg {
    max-width: 64px;
}
.faq-page section {
    padding: 50px 0;
    border-bottom: 1px solid #1b467b;
}
.faq-page section:last-of-type,
.faq-page section section:last-of-type {
    border-bottom: none;
}
#nav.nav a {
    color: #7b7b7b;
    font-family: 'FiraSans-Regular';
    font-size: 14px;
    text-transform: uppercase;
}
#nav.nav li.active a,
#nav.nav li.active a:hover,
#nav.nav li.active a:focus {
    border-left: 5px solid #00aeff;
}
#nav.nav .active {
    font-weight: bold;
    /*  background: #72bcd4;*/
}
#nav.nav.active a,
#nav.nav.active:hover a,
#nav.nav.active:focus a {
    border-left: 5px solid #00aeff;
}
#nav.nav .active a {
    color: #21374c;
}
#nav.nav .nav {
    display: none;
}
#nav.nav .active .nav {
    display: block;
}
#nav.nav .nav a {
    font-weight: normal;
    font-size: .85em;
}
#nav.nav .nav span {
    margin: 0 5px 0 2px;
}
#nav.nav .nav .active a,
#nav.nav .nav .active:hover a,
#nav.nav .nav .active:focus a {
    font-weight: bold;
    padding-left: 30px;
    border-left: 5px solid #00aeff;
}
#nav.nav .nav .active span,
#nav.nav .nav .active:hover span,
#nav.nav .nav .active:focus span {
    display: none;
}
.affix-top {
    position: relative;
}
.affix {
    top: 80px;
}
.affix,
.affix-bottom {
    width: 213px;
}
.affix-bottom {
    position: absolute;
}
@media (min-width: 1200px) {
    .affix,
    .affix-bottom {
        width: 263px;
    }
}
/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}
.panel-default>.panel-heading {
    padding: 0;
    border-radius: 0;
    color: #fff;
    background-color: #1b467b;
    border-color: #1b467b;
    color: #7b7b7b;
    font-family: FiraSans-Regular;
}
.panel-title {
    font-size: 14px;
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
    text-transform: uppercase;
}
.panel-title>a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: 'FiraSans-Regular';
    font-size: 14px;
    text-transform: uppercase;
}
.more-less {
    float: right;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EEEEEE;
    color: #7b7b7b;
    font-family: FiraSans-Regular;
}
.faq-page section p {
    color: #7b7b7b;
    font-family: FiraSans-Regular;
}
.faq-page+.jumbotron p {
    color: #565656;
    font-size: 16px;
    font-family: FiraSans-Regular;
    text-align: center;
    margin-bottom: 20px;
}
.faq-page+.jumbotron a {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 130px;
    text-decoration: none;
}
@media (max-width: 991px) {
    .faq-page section {
        padding: 25px 0;
    }
    .faq-page h2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/* EMPLOYEES PAGE */

.filtr-wrapper-container {
    margin: 30px -5px;
}
.filtr-wrapper-container+button.blue-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
.employees-page .simplefilter,
.employees-page .multifilter,
.employees-page .sortandshuffle {
    margin-left: 0;
}
.employees-page .employees-filter {
    color: #21374c;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 15px 0;
}
/*.employees-page .employees-filter span,
.employees-page .multifilter span,
.employees-page .sortandshuffle span,
.employees-page .category-control p,
.employees-page .search-row p {
    color: #21374c;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 15px 0;
}*/

.employees-page li {
    cursor: pointer;
    color: #fff;
    margin-bottom: 5px;
}
.employees-page li.active {
    background: #1b467b;
    border-color: #1b467b;
}
.employees-page li:hover,
.employees-page li:focus {
    background: #1b467b;
    border-color: #1b467b;
    color: #fff;
}
.employees-page input {
    /*    width: 100%;
    height: 30px;
    text-align: right;
    padding-right: 20px;
    border-radius: 4px;
    background: #fff;
    color: #7b7b7b;*/
}
.employees-page input {
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #7b7b7b;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-family: FiraSans-Regular;
    font-size: 14px;
    text-align: left;
}
.employees-page input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #a2a2a2;
}
.item-desc {
    color: #21374c;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    top: 15px;
}
/* Employees modal info */

.worker-details-modal .modal-content {
    padding: 30px;
}
.worker-details-modal .cleaning-type {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background: #00aeff;
    border-radius: 0;
    font-size: 16px;
    font-family: FiraSans-Regular;
    padding: 15px;
}
.worker-details-info {
    margin-top: 30px;
    margin-bottom: 30px;
}
.worker-details-modal .cleaning-type .glyphicon {
    margin-right: 15px;
}
.worker-details-info .label {
    background: #8db74c;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
}
.worker-details-modal h2 {
    color: #21374c;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
.worker-details-modal p,
.worker-details-modal p+small {
    color: #565656;
    font-size: 16px;
    font-family: FiraSans-Regular;
}
.worker-details-modal p span {
    font-weight: bold;
}
.comments-wrapper {
    text-align: center;
}
.comments-wrapper .glyphicon {
    color: #00aeff;
    font-size: 40px;
    margin-top: 15px;
}
/* Quote carousel */
/* carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
}
/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -12px;
}
/* Next button  */

#quote-carousel .carousel-control.right {
    right: -12px !important;
}
/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
    background: #00aeff;
}
#quote-carousel img {
    width: 250px;
    height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote img {
    margin-bottom: 10px;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
/**
  MEDIA QUERIES
*/
/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
    }
}
/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
/* */

@media (max-width: 991px) {
    .employees-page .simplefilter>p,
    .employees-page .multifilter>p,
    .employees-page .sortandshuffle>p,
    .employees-page .category-control p,
    .employees-page .search-row p {
        margin: 10px 0 10px;
    }
}