@charset "UTF-8";
#content {
  max-width: 1920px;
  width: 100%;
  margin: 65px auto 0;
  overflow: hidden; }

#wrapper {
  min-height: calc(100vh - 150px);
  position: relative; }

.title {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .title h2 {
    text-align: center;
    cursor: default;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'FiraSans-Regular';
    font-size: 24px;
    color: #005783; }
  .title-line {
    margin-top: 18px;
    height: 6px;
    background: #8db74c;
    width: 70px; }

.section-title {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 7px auto 0; }
  .section-title .title-img {
    width: 100%; }

.tabs {
  padding-top: 25px; }
  .tabs .tabs-elements {
    display: flex;
    justify-content: center;
    width: 320px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 460px;
    background: #fff; }
  .tabs .tab-content {
    flex-direction: column;
    align-self: center; }
    .tabs .tab-content .form-group {
      padding: 0 40px;
      margin-top: 5px; }
      .tabs .tab-content .form-group .checkbox-label {
        margin: 0  0 10px;
        font-size: 12px;
        font-family: FiraSans-Regular;
        color: #d1d1d1; }
      .tabs .tab-content .form-group .text-input {
        height: 25px;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        background: #fff;
        margin-left: 27px;
        text-align: right;
        padding-right: 5px;
        color: #7b7b7b; }
        .tabs .tab-content .form-group .text-input:focus {
          outline: none;
          box-shadow: none;
          border: 1px solid #d4d4d4; }
      .tabs .tab-content .form-group span {
        color: #7b7b7b;
        margin-left: 10px;
        font-size: 14px;
        font-family: FiraSans-Regular; }
      .tabs .tab-content .form-group .square {
        margin-bottom: 15px; }
    .tabs .tab-content .help {
      text-align: right; }
      .tabs .tab-content .help span {
        cursor: pointer;
        margin-right: 35px;
        font-size: 12px;
        font-family: FiraSans-Regular; }
        .tabs .tab-content .help span:before {
          content: url("../images/icons/help.png");
          margin-right: 8px;
          vertical-align: middle; }
    .tabs .tab-content .form-group-third label {
      display: block;
      font-size: 12px;
      font-family: FiraSans-Regular;
      color: #7b7b7b; }
    .tabs .tab-content .form-group-third textarea {
      border-radius: 4px;
      resize: none;
      height: 25px;
      font-size: 12px;
      font-family: FiraSans-Regular;
      color: #7b7b7b;
      width: 100%;
      border: 1px solid #eeeeee; }
      .tabs .tab-content .form-group-third textarea:focus {
        border: 1px solid #d4d4d4;
        outline: none;
        background: #fff; }
    .tabs .tab-content .form-group-third .button {
      text-align: center; }
    .tabs .tab-content .form-group-third .btn {
      margin-top: 10px;
      border-radius: 4px;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      color: #fff;
      text-transform: uppercase;
      font-family: 'FiraSans-Regular';
      background: #009de2;
      border: 1px solid #fff;
      width: 100%;
      height: 30px; }
      .tabs .tab-content .form-group-third .btn:hover, .tabs .tab-content .form-group-third .btn:focus {
        outline: none; }
      .tabs .tab-content .form-group-third .btn:hover {
        background: #fff;
        box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        transition: all 0.15s linear;
        color: #00aaff;
        border: 1px solid  #00aaff; }
  .tabs .form-title {
    text-transform: uppercase;
    margin: 0 0 25px;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 16px;
    color: #005783;
    font-family: FiraSans-Bold; }
  .tabs .form-group-second {
    padding-bottom: 25px !important;
    border-bottom: 1px solid #dadada; }

.checkbox input[type=checkbox] {
  margin-left: 0; }

.wizard > .content {
  min-height: 100em !important; }

input[type=checkbox]:not(old) {
  cursor: pointer;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  opacity: 0; }

input[type=checkbox]:not(old) + label {
  cursor: pointer;
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em; }

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0.25em 1em 0.25em 0.25em;
  border: 1px solid #dedede;
  border-radius: 0.25em;
  background: #fff;
  cursor: pointer;
  vertical-align: bottom; }

input[type=checkbox]:not(old):checked + label > span:before {
  cursor: pointer;
  content: '✓';
  display: block;
  width: 1em;
  color: #393a39;
  font-size: 0.875em;
  text-shadow: 0 0 0.0714em #73994d;
  font-weight: bold;
  margin: -5px 0 0 1px; }

.tabs-list {
  margin: 0;
  padding: 0;
  list-style: circle; }
  .tabs-list li {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    padding: 10px 30px 7px 25px;
    background: #e9e9e9;
    cursor: pointer;
    color: #888888;
    font-size: 14px;
    font-family: FiraSans-Regular; }
    .tabs-list li:before {
      vertical-align: text-bottom;
      margin-right: 5px;
      content: url("../images/icons/circle.png"); }

.tabs-list li.active {
  color: #009de2;
  background: #fff; }
  .tabs-list li.active:before {
    vertical-align: text-bottom;
    margin-right: 5px;
    content: url("../images/icons/circle-active.png"); }

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  font-family: FiraSans-Regular;
  margin-right: 9px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #fff;
  width: 100%;
  height: 32px; }

.select-styled {
  border-radius: 4px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-family: FiraSans-Regular;
  font-size: 14px;
  padding: 6px 16px 0 21px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #8db74c; }
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 11px; }
  .select-styled:hover {
    background-color: #8db74c; }
  .select-styled:active, .select-styled.active {
    background-color: #8db74c; }
    .select-styled:active:after, .select-styled.active:after {
      top: 9px;
      border-color: transparent transparent #fff transparent; }

.select-options {
  display: none;
  position: absolute;
  top: 96%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  right: 0;
  left: 0;
  z-index: 998;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #8db74c; }
  .select-options li {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    font-family: FiraSans-Regular;
    font-size: 14px;
    margin: 0;
    padding: 12px 20px;
    text-indent: 0; }
    .select-options li:hover {
      color: #fff; }
    .select-options li[rel="hide"] {
      display: none; }

.first-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .first-section .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .first-section .title {
    align-items: flex-start;
    width: 500px;
    align-self: center; }
    .first-section .title h1 {
      margin: 0 0 40px;
      font-family: FiraSans-Bold;
      color: #fff;
      font-size: 60px; }
    .first-section .title p {
      font-family: FiraSans-Regular;
      color: #fff;
      font-size: 14px; }

.cd-image-container {
  position: relative;
  margin: 0em auto; }

.cd-image-container img {
  display: block;
  height: 550px;
  width: 100%; }

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s; }

.cd-image-label.is-hidden {
  visibility: hidden; }

.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.cd-resize-img {
  border-right: 6px solid #717171;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none; }

.cd-resize-img .cd-image-label {
  right: auto;
  left: 0; }

.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s; }

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0; }
  60% {
    width: 55%; }
  100% {
    width: 50%; } }

@-moz-keyframes cd-bounce-in {
  0% {
    width: 0; }
  60% {
    width: 55%; }
  100% {
    width: 50%; } }

@keyframes cd-bounce-in {
  0% {
    width: 0; }
  60% {
    width: 55%; }
  100% {
    width: 50%; } }

.cd-handle {
  position: absolute;
  height: 28px;
  width: 75px;
  /* center the element */
  text-transform: uppercase;
  font-family: FiraSans-Bold;
  font-size: 12px;
  color: #fff;
  left: 50%;
  bottom: -28px;
  margin-left: -40px;
  margin-top: -22px;
  cursor: move;
  opacity: 0;
  background-color: #00aeff;
  padding: 4px 4px 10px 8px;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0); }
  .cd-handle:before {
    content: url("../images/icons/prev.png");
    margin-right: 8px;
    vertical-align: text-bottom; }
  .cd-handle:after {
    content: url("../images/icons/next.png");
    margin-left: 8px;
    vertical-align: text-bottom; }

.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #00aeff; }

.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s; }

.section-second {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding: 60px 0 55px; }
  .section-second .title {
    margin-bottom: 35px; }
  .section-second .steps {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .section-second .steps-elem {
      display: inline-flex;
      flex: 1;
      max-width: 300px;
      width: 100%; }
    .section-second .steps img {
      width: 50px;
      height: 60px; }
    .section-second .steps .text {
      margin-top: 30px;
      padding-left: 40px; }
  .section-second h3 {
    cursor: default;
    margin: 0  0 20px;
    font-family: 'FiraSans-Regular';
    color: #00b1ff;
    cursor: default;
    text-transform: uppercase;
    font-size: 16px; }
  .section-second p {
    cursor: default;
    display: block;
    margin-bottom: 0;
    color: #a6a6a6;
    line-height: 20px;
    font-family: 'FiraSans-ExtraLight';
    font-size: 14px; }
  .section-second .steps-first-row {
    margin-bottom: 30px; }

.section-third {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background: #f5f5f5;
  padding: 65px 0 0 0; }
  .section-third .title {
    margin-bottom: 45px; }
  .section-third .advantages {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .section-third .advantages .margin {
      margin-right: 20px; }
    .section-third .advantages-elem {
      position: relative;
      cursor: pointer;
      border-radius: 15px;
      background: #fff;
      align-self: auto;
      flex: 1;
      width: 100%;
      display: flex; }
      .section-third .advantages-elem-hover {
        position: absolute;
        padding: 35px 35px 25px;
        align-self: center;
        border-radius: 15px;
        text-align: center;
        background: #8db74c;
        opacity: 0;
        top: 0;
        height: 100%; }
        .section-third .advantages-elem-hover .title {
          margin-bottom: 0; }
        .section-third .advantages-elem-hover h3 {
          border-bottom: 2px solid #fff;
          color: #fff;
          margin: 0 0 25px;
          font-family: 'FiraSans-Regular';
          font-size: 16px;
          cursor: pointer;
          padding-bottom: 25px; }
        .section-third .advantages-elem-hover p {
          cursor: pointer;
          display: block;
          margin-bottom: 0;
          color: #fff;
          line-height: 20px;
          font-family: 'FiraSans-UltraLight';
          font-size: 14px;
          text-align: center; }
    .section-third .advantages .text {
      padding: 35px 35px 25px;
      align-self: center;
      margin-right: 0;
      text-align: center; }
  .section-third h3 {
    margin: 20px  0 20px 0;
    font-family: 'FiraSans-Regular';
    color: #00b1ff;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    cursor: pointer; }
  .section-third p {
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    color: #a6a6a6;
    line-height: 20px;
    font-family: 'FiraSans-UltraLight';
    font-size: 14px;
    text-align: center; }
  .section-third .advantages-elem:hover .advantages-elem-hover {
    opacity: 1;
    transition: all 0.25s linear; }
  .section-third .advantages-elem {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform; }
  .section-third .advantages-elem:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.02);
    transform: scale(1.02); }
  .section-third .advantages-first-row .text:before {
    content: url("../images/person.png"); }
  .section-third .advantages-first-row .advantages-elem {
    max-width: 570px; }
  .section-third .advantages-second-row .text {
    width: 100%; }
    .section-third .advantages-second-row .text:before {
      content: url("../images/check.png"); }
  .section-third .advantages-second-row .advantages-elem {
    width: 100%; }
  .section-third .advantages-third-row .advantages-elem {
    max-width: 570px; }
  .section-third .advantages-third-row .safety:before {
    content: url("../images/safety.png"); }
  .section-third .advantages-third-row .time:before {
    content: url("../images/time.png"); }

.fourth-section {
  padding: 30px 0;
  text-align: center;
  display: flex;
  min-height: 253px;
  height: 100%;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #009de2; }
  .fourth-section-elem {
    align-self: center; }
    .fourth-section-elem h2 {
      font-size: 24px;
      font-family: FiraSans-Regular;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0 0 20px;
      color: #fff; }
    .fourth-section-elem label {
      display: block;
      font-size: 16px;
      font-weight: normal;
      font-family: FiraSans-Regular;
      color: #fff; }
  .fourth-section .btn {
    margin-top: 25px;
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    color: #fff;
    text-transform: uppercase;
    font-family: 'FiraSans-Regular';
    background: transparent;
    border: 1px solid #fff;
    width: 215px;
    height: 50px; }
    .fourth-section .btn:hover, .fourth-section .btn:focus {
      outline: none; }
    .fourth-section .btn:hover {
      background: #fff;
      box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      transition: all 0.15s linear;
      color: #00aaff;
      border: 1px solid  #00aaff; }

.fifth-section {
  padding: 40px 0;
  display: flex;
  background: #fff;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  min-height: 500px;
  height: 100%; }
  .fifth-section .container {
    align-self: center; }
  .fifth-section h2 {
    margin: 0;
    color: #005783; }
  .fifth-section .title-line {
    background: #009de2; }
  .fifth-section .pluses {
    margin: 40px 0 0;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .fifth-section .pluses-elem {
      width: 128px;
      text-align: center;
      cursor: pointer; }
      .fifth-section .pluses-elem .image {
        display: flex;
        width: 128px;
        height: 128px;
        justify-content: space-around;
        border: 2px solid #015390;
        border-radius: 50%; }
      .fifth-section .pluses-elem img {
        align-self: center; }
    .fifth-section .pluses label {
      cursor: pointer;
      margin-top: 40px;
      color: #a6a6a6;
      font-family: FiraSans-Regular;
      font-size: 14px; }
  .fifth-section .button {
    text-align: center; }
  .fifth-section .btn {
    margin-top: 40px;
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    color: #fff;
    text-transform: uppercase;
    font-family: 'FiraSans-Regular';
    background: #8db74c;
    border: 1px solid transparent;
    width: 205px;
    height: 40px; }
    .fifth-section .btn:hover, .fifth-section .btn:focus {
      outline: none; }
    .fifth-section .btn:hover {
      background: #fff;
      box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      transition: all 0.15s linear;
      color: #8db74c;
      border: 1px solid  #8db74c; }

@media (max-width: 991px) {
  .first-section .title {
    margin-right: 10px; } }

@media (max-width: 767px) {
  .section-second .steps-elem {
    flex: auto; }
  .section-third .advantages {
    margin: 0 0 10px;
    flex-direction: column; }
    .section-third .advantages-elem {
      max-width: 100% !important;
      margin-bottom: 20px; }
    .section-third .advantages .margin {
      margin-right: 0; }
  .fifth-section .pluses-elem {
    margin-right: 10px;
    margin-bottom: 30px; }
  .first-section .title h1 {
    font-size: 40px; } }

@media (max-width: 575px) {
  .tabs .tabs-elements {
    width: 280px; }
  .tabs .tab-content .form-group {
    padding: 0 20px; } }
