<template>
    <div class="aboutUs">
        <header-menu></header-menu>
        <div id="content">
            <main>
               <div class="container">
                   <h3 class="text-center" style="color: #0f72b5">
                       TERMINI E CONDIZIONI
                   </h3>
                   <p align="left">
                       <strong>
                           L'UTENTE E' <u>OBBLIGATO</u> A LEGGERE ATTENTAMENTE LE PRESENTI
                           CONDIZIONI DI UTLIZZO PRIMA DI USUFRUIRE DEL SERVIZIO OFFERTO DA        <u>SPOTLESS.</u>
                       </strong>
                   </p>
                   <p align="left">
                       <strong>
                           LE SEGUENTI CONDIZIONI SONO DA INTENDERSI PER LE PARTI COME        <u>VINCOLANTI</u> AL FINE DELL'UTILIZZO DEL SERVIZIO OFFERTO.
                           L'UTILIZZO DEL SERVIZIO IMPLICA L'ESPRESSO CONSENSO ALLE CONDIZIONI
                           CONTENUTE NELLE SEGUENTI <u>CONDIZIONI DI UTILIZZO.</u>
                       </strong>
                   </p>
                   <p align="left">
                       <u><strong>Accettazione delle condizioni</strong></u>
                   </p>
                   <p>
                       Con l'iscrizione al sito www.spotlessitalia.com si accettano tutte le
                       condizioni contenute nel presente documento (le “    <strong>Condizioni di Utilizzo</strong>”) che includono la
                       <a href="http://www.easyfeel.it/EasyFeel-web/ef/privacy.xhtml">
                           Informativa sulla Privacy
                       </a>
                       di Spotless. Alcuni servizi offerti potranno essere soggetti a ulteriori
                       termini e condizioni di volta in volta indicati da Spotless. Le presenti
                       condizioni di utilizzo si applicano a tutti gli Utenti del sito internet
                       www.spotlessitalia.com e riguardano i servizi offerti da quest'ultimo.
                       Spotless si riserva il diritto di apportare, in qualunque momento,
                       modifiche alle Condizioni di Utilizzo ed alla Informativa sulla Privacy.
                       Tali modifiche e variazioni verranno comunicate tempestivamente attraverso
                       pubblicazione sul sito internet www.spotlessitalia.com e/o attraverso
                       l’invio di una comunicazione all’indirizzo di posta elettronica inserito
                       dall’Utente all’atto della registrazione.
                   </p>
                   <p>
                       <strong>Le parti: </strong>
                   </p>
                   <p align="left">
                       Le parti a cui si fa riferimento nelle presenti Condizioni di Utilizzo
                       sono:
                   </p>
                   <ul>
                       <li>
                           <p align="left">
                               “<strong>Spotless”</strong>:Indica Sany Group srl ,una società con
                               sede legale in************ Milano, numero di iscrizione al Registro
                               delle Imprese di Milano e codice fiscale ***************creatore,
                               detentore e gestore del sito internet
                           </p>
                       </li>
                   </ul>
                   <p align="left">
                       www.spotlessitalia.com nonché dei contenuti ivi presenti;
                   </p>
                   <ul>
                       <li>
                           <p align="left">
                               “<strong>Utente”; “Utenti”</strong>: indica qualsiasi persona
                               fisica o giuridica che accede al sito internet
                               www.spotlessitalia.com.
                           </p>
                       </li>
                       <li>
                           <p align="left">
                               “<strong>Operatore” ; “Operatori”</strong>: indica qualsiasi
                               persona fisica o giuridica la cui attività sia quella di fornire
                               aventi ad oggetto la cura dell’abitazione e/o dei luoghi di lavoro
                               e/o della persona che si affida ad Spotless
                           </p>
                       </li>
                   </ul>
                   <p align="left">
                       per la promozione delle proprie prestazioni nei confronti degli Utenti;
                   </p>
                   <ul>
                       <li>
                           <p align="left">
                               “<strong>Sito”</strong>: indica il sito internet raggiungibile
                               all’indirizzo www.spotlessitalia.com di cui Spotless è titolare.
                           </p>
                       </li>
                   </ul>
                   <p align="left">
                       SPOTLESS mette a disposizione dell’Utente le informazioni e gli strumenti
                       informatici utili a prenotare i Servizi di pulizia da parte di terzi
                       Fornitori di servizi di pulizia e quindi non offre autonomamente tali
                       servizi, bensì offre un servizio di c.d. marketplace ove la domanda degli
                       Utenti possa incontrare l ́offerta dei Fornitori. In questo contesto,
                       SPOTLESS, una volta ricevuta la richiesta dell ́Utente, provvede ad
                       inoltrare automaticamente tale domanda ai Fornitori i quali poi
                       confermeranno la loro disponibilità che verrà poi messa a conoscenza dell
                       ́Utente attraverso un messaggio automatico inoltrato dalla Piattaforma.
                   </p>
                   <ol>
                       <p align="left">
                           <strong>1) Contenuti del Servizio:</strong>
                       </p>
                       <p align="left">
                           Spotless gestisce il Sito nell'esclusivo interesse degli Utenti e degli
                           Operatori che vi accedono. Attraverso il Sito, l’Utente potrà a sua
                           discrezione scegliere un Operatore, ovvero demandarne a Spotless la
                           ricerca, per l’esecuzione di prestazioni con ad oggetto la cura
                           dell’abitazione e/o dei luoghi di lavoro e/o della persona (il “        <strong>Servizio</strong>”) ai sensi e nel rispetto delle presenti
                           Condizioni di Utilizzo. L’esecuzione della prestazione da parte
                           dell’Operatore comporterà di volta in volta l’instaurazione di un
                           rapporto contrattuale tra Utente ed Operatore il quale agirà come
                           operatore indipendente. In qualità di fornitore della piattaforma
                           internet, Spotless facilita le transazioni che intercorrono sul Sito,
                           ma essa non è parte del rapporto contrattuale tra Utente ed Operatore.
                           Spotless rimane pertanto estranea alla prestazione di servizi, che
                           intercorre esclusivamente tra l'Utente e l’Operatore. Spotless pertanto
                           non assume nessuna responsabilità relativamente al contratto di
                           prestazione di servizi ed alla sua corretta esecuzione. Spotless non
                           rappresenta in nessun modo e in nessun caso l’Operatore.
                       </p>
                   </ol>
                   <p align="left">
                       1.1 In linea di principio pertanto l'Utente intrattiene due rapporti
                       contrattuali: da una parte un contratto con <u>SPOTLESS</u> riguardante
                       l'utilizzo della Piattaforma (“<strong>Contratto di utilizzo</strong>”
                       disciplinato dalle seguenti Condizioni di utilizzo) e dall'altra un
                       contratto con un <u>FORNITORE DI SERVIZI</u> riguardante la fornitura di
                       servizi domestici (“<strong>Contratto di pulizia</strong>”). Il Contratto
                       di pulizia è soggetto a Termini e condizioni generali di fornitura
                       separate.
                   </p>
                   <ol>
                       <ol start="2">
                           <p align="left">
                               1.2 L’iscrizione al Servizio da parte dell’Utente è gratuita.
                               All’atto della prenotazione, l’Utente verserà a Spotless il
                               corrispettivo per il Servizio. I prezzi pubblicati sul Sito, vale a
                               dire i corrispettivi per i Servizi, sono già comprensivi del
                               corrispettivo dovuto da parte dell'utente a Spotless per la
                               prenotazione.
                           </p>
                           <p align="left">
                               1.3 In occasione della registrazione al Sito l’Utente diviene parte
                               della community interessata a ricevere la prestazione di servizi
                               per la cura dell’abitazione e/o di luoghi di lavoro e/o della
                               persona e viene abilitato alla visione, sul web e su dispositivi
                               consultabili in mobilità, delle pubblicità presenti sul Sito,
                               comprensive dei prezzi applicati e dei termini temporali di
                               fruizione del Servizio.
                           </p>
                       </ol>
                   </ol>
                   <ol>
                       <ol start="2">
                           <p align="left">
                               1.4 Spotless, tramite il proprio sito, offre un servizio di
                               visibilità agli Operatori che consente a questi ultimi di essere
                               contattati dagli Utenti. Spotless non effettua alcun percorso di
                               selezione volto all’inserimento degli Operatori sul Sito,
                               Spotelessitalia.com pertanto, non svolge attività di recluiting ma
                               consente l’iscrizione sul Sito agli Operatori che ne facciano
                               richiesta e siano in possesso di determinati requisiti oggettivi
                               elencati sul Sito, in poi verificati dal team responsabile di
                               Spotless.
                           </p>
                       </ol>
                   </ol>
                   <ol start="2">
                       <p align="left">
                           <strong>2) Fornitura dei dati personali</strong>
                       </p>
                       <p align="left">
                           2.1 Gli Utenti e gli Operatori dovranno fornire dati e informazioni
                           veritiere, corrette, complete ed aggiornate. La fornitura dei dati,
                           compresi quelli anagrafici e di contatto, si pone come necessaria per
                           la corretta esecuzione del servizio. L’Utente è tuttavia obbligato a
                           comunicare tempestivamente a Spotless ogni cambiamento delle
                           informazioni che ha fornito inizialmente.
                       </p>
                   </ol>
                   <p align="left">
                       2.2 Le informazioni che non dovessero corrispondere alle caratteristiche
                       descritte e specificate nel paragrafo 2.1 saranno causa sufficiente per
                       procedere all’interruzione unilaterale del Servizio da parte di Spotless,
                       la quale, in tale ipotesi, si riserverà di richiedere all’Utente il
                       risarcimento per eventuali danni patiti a causa della non veridicità delle
                       informazioni fornite.
                   </p>
                   <ol start="2">
                       <ol start="3">
                           <p align="left">
                               2.3 Gli Utenti e gli Operatori concedono a Spotless ed ai suoi
                               aventi causa licenza non esclusiva, trasferibile a terzi, gratuita,
                               perpetua e revocabile per l’utilizzo, la modifica, la riproduzione
                               , l'adattamento, la pubblicazione, la distribuzione, la traduzione,
                               l'esecuzione e la visualizzazione delle comunicazioni e dei
                               contenuti che dovesse esprimere sul sito ovvero in relazione alle
                               eventuali applicazioni sviluppate per smartphone
                           </p>
                       </ol>
                   </ol>
                   <ol start="2">
                       <ol start="3">
                           <p align="left">
                               <strong>3. Norme di condotta</strong>
                           </p>
                       </ol>
                   </ol>
                   <p align="left">
                       3.1 Gli Utenti sono i soli responsabili delle attività compiute sui loro
                       rispettivi account, ivi compreso il contenuto delle pubblicazioni
                       associate agli stessi. Dichiarano quindi di mantenere riservate le
                       password associate al proprio account e di impedirne la cessione,
                       anche accidentale, a terzi. L’Utente si obbliga a prendere tutte le
                       precauzioni necessarie a garantire che la sua password rimanga
                       sicura e riservata e ad informare immediatamente Spotless nel
                       caso in cui l’Utente abbia motivo di credere che qualunque
                       soggetto terzo sia a conoscenza della sua password, o nel caso in
                       cui la sua password sia, o presumibilmente stia per essere,
                       utilizzata in modo non autorizzato.
                   </p>
                   <p>
                       3.2 L’Utente si obbliga ad utilizzare il Sito al solo scopo di fruire del
                   </p>
                   <p align="left">
                       Servizio offerto dallo stesso. In ogni caso è vietato pubblicare o
                       trasmettere attraverso il Sito eventuali applicazioni sviluppate per
                       smartphone da Spotless contenuti illeciti che violino i diritti altrui e
                       con carattere offensivo, diffamatorio, lesivo della privacy ovvero
                       contenuti volgari, osceni,
                   </p>
                   <p align="left">
                       o altrimenti discutibili, che incitino ad una condotta perseguibile
                       penalmente, o che possano generare una responsabilità civile, che violino
                       in altro modo la legge, o che contengano pubblicità o sollecitazioni
                       rispetto ad altri prodotti e servizi. E’ altresì vietato nell'utilizzo del
                       Sito e/o delle eventuali applicazioni per smartphone sviluppate da
                       Spotless, limitare o inibire un altro Utente rispetto all'uso del Sito,
                       oppure esporre ed attuare sollecitazioni di carattere religioso, politico o
                       di qualunque natura, fra cui, a titolo esemplificativo e non esaustivo,
                       l'invito, anche indiretto, a preferire altri servizi online o offline,
                       ovvero servizi potenzialmente in concorrenza con quelli offerti da
                       Spotless.
                   </p>
                   <ol start="3">
                       <p align="left">
                           3.3 L'Utente dichiara quindi di manlevare Spotless e di sostituirsi ad
                           essa, anche in mera sede stragiudiziale, per ogni contestazione che
                           dovesse sorgere in conseguenza dell'uso del Sito e/o delle eventuali
                           applicazioni per smartphone sviluppate da Spotless non conforme alla
                           legge ed alle presenti Condizioni di Utilizzo.
                       </p>
                       <p align="left">
                           3.4 Spotless non controlla né guida le azioni degli Utenti né degli
                           Operatori del Servizio né è responsabile dei contenuti o delle
                           informazioni che gli Utenti e gli Operatori trasmettono o condividono
                           sullo stesso.
                       </p>
                       <p align="left">
                           Spotless non è assolutamente in nessun modo responsabile della
                           condotta, sia online che offline, degli Utenti e degli Operatori.
                       </p>
                   </ol>
                   <p align="left">
                       3.5 L’Utente si obbliga a rispettare la durata e il corrispettivo
                       pattuito per la prestazione effettuata a mezzo del Servizio. In
                       particolare, al fine del corretto funzionamento del Servizio nei
                       confronti della generalità degli Utenti e degli Operatori, l’Utente si
                       obbliga a non mettere in atto condotte atte ad aggirare
                       l’utilizzazione del Servizio (per esempio contattare direttamente
                       l’Operatore
                       senza utilizzare il Servizio). Fermo restando quanto sopra, l’Utente
                       si obbliga quindi a prenotare un numero di ore che sia
                       ragionevolmente congruo all’effettuazione della prestazione di
                       volta in volta richiesta all’Operatore. A tal fine l’indicazione degli
                       spazi oggetto della prestazione sul Sito all’atto della prenotazione
                       ha natura meramente indicativa. La valutazione dell’ammontare
                       orario da selezionare dipenderà da una valutazione caso per caso
                       secondo le preferenze espresse dall’Utente ed in base all’oggettivo
                       stato dei luoghi oggetto della prestazione. Spotless suggerisce comunque
                       che all’inizio della prestazione l’Utente comunichi all’Operatore le
                       sue eventuali preferenze in merito all’oggetto ed alle modalità di
                   </p>
                   <p>
                       effettuazione della prestazione di volta in volta richiesta.
                   </p>
                   <p>
                       3.6) L’Utente ogni volta che usufruirà del Servizio avrà la facoltà di
                       rilasciare sul Sito un feedback sulla prestazione fornita dall’Operatore in
                       questione pubblicando un breve commento che, solamente su approvazione da
                       parte di Spotless, potrà essere visualizzato dagli altri Utenti del Sito.
                       L’Utente si obbliga a pubblicare commenti e valutazioni che corrispondano
                       alla realtà e risulterà l’unico soggetto responsabile del contenuto di tali
                       commenti.
                   </p>
                   <ol start="3">
                       <ol start="7">
                       </ol>
                   </ol>
                   <p>
                       3.7 Il mancato rispetto delle presenti norme di condotta costituisce causa
                       sufficiente per procedere all’interruzione unilaterale del Servizio da
                       parte di Spotless ed alla cancellazione del profilo dell’Utente
                       inadempiente, con facoltà in capo ad Spotless di richiedere il risarcimento
                       per eventuali danni causati dal mancato rispetto delle presenti norme da
                       parte dell’Utente.
                   </p>
                   <ol start="3">
                       <ol start="7">
                       </ol>
                   </ol>
                   <p>
                       <strong>4)Utilizzo del Servizio</strong>
                   </p>
                   <ol start="4">
                   </ol>
                   <p align="left">
                       4.1 Il Servizio offerto da Spotless prevede la possibilità per l’Utente
                       di prenotare l’esecuzione di servizi relativi alla cura di abitazioni e/o
                       di luoghi di lavoro e/o della persona 7 giorni su 7 e nell’orario prescelto,
                       da svolgersi da parte degli Operatori, alle condizioni di volta in volta
                       specificate alla sezione “Tariffe” del Sito.
                   </p>
                   <p align="left">
                       4.2 La conferma dell’avvenuta presa in carico della prenotazione e
                       le eventuali altre comunicazioni da fornire agli Utenti verranno
                       date tramite l’invio di messaggi di posta elettronica all’indirizzo
                       indicato all’atto della registrazione sul Sito e/o via app mobile.
                   </p>
                   <p align="left">
                       4.3 L’Utente potrà prenotare una prestazione della durata minima
                       di 2 (due) ore. Inoltre, l'Utente è obbligato in fase di prenotazione, a
                       scegliere le ore desiderate del servizio in maniera congrua, leale,
                       coerente, ma sopratutto adatta alle dimensioni della sua abitazione, al
                       fine di un efficiente svolgimento del servizio da parte dell'Operatore.
                       Qualunque anomalia, o atto sleale da parte dell'Utente nelle situazioni
                       descritte in precedenza (per esempio selezionare al momento della
                       prenotazione una metratura dell'abitazione minore rispetto a quella reale
                       ed effettiva), ci verranno immediatamente segnalate da parte degli
                       Operatori.
                   </p>
                   <p align="left">
                       4.5 L’Utente dovrà mettere in grado l’Operatore di eseguire la prestazione
                       richiesta. L’Utente potrà segnalare all’atto della prenotazione l’eventuale
                       assenza di uno o più specifici materiali e, in tal caso, sarà facoltà
                       dell’Operatore decidere se accettare la prenotazione o meno.
                   </p>
                   <p align="left">
                       L’utente, all’atto della prenotazione, avrà la facoltà di richiedere
                       all’Operatore la fornitura di detersivi e detergenti.
                   </p>
                   <p align="left">
                       4.6 Al fine di consentire all’Operatore di eseguire la prestazione,
                       l’Utente si obbliga a fare in modo che l’Operatore abbia accesso ai locali
                       presso cui la stessa dovrà essere effettuata.
                   </p>
                   <p align="left">
                       4.7 A condizione che l’Utente rispetti le presenti Condizioni di Utilizzo,
                       Spotless gli concede una licenza limitata, non esclusiva, non trasferibile
                       e non sublicenziabile per accedere al Sito e richiedere la prestazione dei
                       Servizi e farne un uso personale e non commerciale. Questa licenza non
                       include alcun diritto di rivendita o uso commerciale di ciascun Servizio
                       acquistabile sul
                   </p>
                   <p align="left">
                       Sito o dei suoi contenuti, né il diritto di raccogliere e utilizzare liste,
                       descrizioni o prezzi di prodotti, fare un uso derivato dei Servizi o dei
                       loro contenuti, effettuare qualsiasi tipo di download o copia di
                       informazioni dell'Account dell’Utente a vantaggio di un terzo o utilizzare
                       qualsiasi dispositivo di acquisizione e estrazione dati.
                   </p>
                   <p align="left">
                       Tutti i diritti non espressamente conferiti dalle presenti Condizioni
                   </p>
                   <p align="left">
                       di Utilizzo restano in capo a Spotless.
                   </p>
                   <p align="left">
                       4.8 L’Utente si obbliga a non usare il Sito e i servizi offerti per il
                   </p>
                   <p align="left">
                       tramite dello stesso in modo tale da causare, o da poter causare, danni,
                       interruzioni o malfunzionamenti al Sito e/o alle sue funzionalità, e/o per
                       fini fraudolenti, o in ogni caso per commettere attività illecite, e/o per
                       arrecare pregiudizio, disturbo o apprensione.
                   </p>
                   <p align="left">
                       4.9 Non è possibile riprodurre, duplicare, copiare, vendere, rivendere,
                       visitare o in ogni altro modo utilizzare per qualsiasi uso commerciale i
                       contenuti del Sito e/o i servizi offerti per il tramite dello stesso, in
                       tutto o in parte, senza l’espresso consenso scritto di Spotless.
                   </p>
                   <p align="left">
                       L’Utente non deve utilizzare in maniera impropria il Sito.
                   </p>
                   <p align="left">
                       L’Utente potrà utilizzare il Sito esclusivamente nei limiti previsti
                       dalle presenti Condizioni di Utilizzo e dalla legge. La violazione delle
                       presenti Condizioni di Utilizzo comporterà la revoca dell'autorizzazione o
                       della licenza rilasciata da Spotless, fatto salvo il diritto al
                       risarcimento dei maggiori danni subiti.
                   </p>
                   <p align="left">
                       4.10 Non è assolutamente consentito l’accesso al codice informatico che
                       costituisce il Sito, nonché, a maggior ragione, qualsiasi operazione
                       di reverse engineering.
                   </p>
                   <p align="left">
                       4.11 L’Utente dovrà effettuare il pagamento degli importi dovuti per
                       il Servizio tramite il Sito selezionando una delle seguenti modalità:
                       Carta di credito, debito e ricaricabile (Spotless accetta tutte le
                       principali carte di credito e debito internazionali, ivi incluse Visa,
                       Master Card ed American Express). In tale ipotesi: in caso di prestazione
                       singola: l’importo della transazione sarà quello dovuto a fronte della
                       prestazione prenotata, fermo restando che tale importo inizialmente sarà
                       soltanto bloccato a titolo di deposito
                       cauzionale e sarà poi addebitato, nella sola misura dovuta a fronte
                       dell’effettiva prestazione del Servizio eseguita, entro il giorno
                       successivo alla data in cui è stata eseguita la prestazione; ovvero in caso
                       di prestazione ripetuta: l’importo per ogni prestazione sarà soltanto
                       bloccato a titolo di deposito cauzionale e sarà poi addebitato, nella sola
                       misura dovuta a fronte dell’effettiva prestazione del Servizio eseguita,
                       entro il giorno successivo alla data in cui è stata eseguita la
                       prestazione.
                       Resta inteso che se per qualsiasi motivo non imputabile all’Utente
                       il Servizio non venga reso o venga reso soltanto in parte, l’importo
                       imputabile al Servizio non goduto sarà riaccreditato all’Utente
                       nella medesima modalità di pagamento utilizzata da quest’ultimo
                       al momento della prenotazione entro 7 giorni lavorativi dalla data
                       della prestazione. Viceversa qualora la prestazione non venga effettuata in
                       tutto o in parte per fatti imputabili all’Utente Spotless tratterrà i
                       relativi
                       importi relativi alla prestazione non effettuata.
                   </p>
                   <p align="left">
                       Infine si precisa che Spotless utilizza tutte le più recenti tecnologie e
                       segue ogni best practice ai fini di assicurare che l’esecuzione dei
                       pagamenti sia sempre sicura. Quando il Cliente effettua il pagamento
                       mediante carta di credito, la connessione è sicura ed i dettagli della
                       carta di credito sono criptati tramite SSL. Pertanto è certo che
                       nessun’altro all’infuori della banca presso cui Spotless intrattiene il
                       proprio conto corrente potrà essere in grado di leggere tali codici.
                       Inoltre nessun dato di pagamento viene, in nessun caso, conservato da
                       Spotless.
                   </p>
                   <p align="left">
                       L’Utente troverà sul Sito, in un’apposita sezione dedicata all’atto
                       della conferma della prenotazione, tutte le informazioni necessarie
                       per effettuare i pagamenti nelle modalità sopraindicate.
                       Il summenzionato pagamento è liberatorio per l’Utente, vale a dire
                       che con il pagamento del Servizio attraverso una delle
                       summenzionate modalità, null’altro sarà dovuto dall’Utente a
                       fronte del Servizio.
                   </p>
                   <p>
                       <strong>5)Abbonamento (prestazione ricorrente)</strong>
                   </p>
                   <ol start="5">
                   </ol>
                   <p align="left">
                       5.1 All’atto della prenotazione, l’Utente avrà la possibilità di
                       selezionare per un numero di volte indicato dall’Utente stesso l’automatica
                       ripetizione del Servizio in un giorno fisso a cadenza costante. A tal fine,
                       l’Utente autorizza espressamente Spotless ad addebitargli automaticamente
                       il corrispettivo dovuto per il Servizio, secondo la cadenza selezionata
                       dall’Utente all’atto della prenotazione.
                   </p>
                   <p align="left">
                       L’attivazione della prestazione ripetuta permette all’Utente di
                   </p>
                   <p align="left">
                       ottenere le prestazioni nello stesso giorno settimanalmente e dallo stesso
                       Operatore, sostituibile a discrezione dell’Utente.
                   </p>
                   <p align="left">
                       5.2 La durata massima della prestazione ripetuta, vale a dire
                       dell'abbonamento, è pari a 2 anni.
                   </p>
                   <p align="left">
                       L’Utente potrà interrompere la prestazione ripetuta in qualunque momento,
                       accedendo alla propria area riservata e seguendo l’apposita procedura
                       indicata, restando inteso che dovrà essere garantito dall’Utente un numero
                       minimo di prestazioni, rispetto a quelle inizialmente richieste, che,
                       pertanto, non potranno essere cancellate. L’Utente, una volta attivata la
                       prestazione ripetuta/abbonamento, dovrà assicurare l’esecuzione di minimo
                       3(tre)
                      prestazioni.
                   </p>
                   <p align="left">
                       Qualora l’Utente intenda recedere prima, verrà addebitato allo
                       stesso un importo pari alla differenza tra le 3 (tre) prestazioni
                       minime garantite e le prestazioni effettivamente erogate.
                   </p>
                   <p>
                       <strong>6)Assicurazioni per danni</strong>
                   </p>
                   <ol start="6">
                   </ol>
                   <p align="left">
                       6.1 In nessun caso Spotless potrà essere ritenuto responsabile per
                       danni di qualsiasi tipo, diretti, indiretti, speciali, generali, di
                       indennizzo, conseguenti e/o accidentali, derivanti da o relativi al
                       comportamento dell’Utente, dell’Operatore o a quello di qualsiasi
                       altra persona, ivi compresi atti a contenuto illecito di rilevanza
                       penale.
                   </p>
                   <p align="left">
                       6.2 Senza pregiudizio per quanto descritto nel precedente articolo e senza
                       che tutto ciò rappresenti o possa rappresentare alcuna forma di assunzione
                       di responsabilità, Spotless si obbliga a risarcire all’Utente dei danni
                       provocati dall’Operatore all’abitazione/ufficio dell’Utente e/o alle cose
                       ivi presenti durante lo svolgimento della prestazione.Il risarcimento sarà
                       soggetto alle seguenti limitazioni:a) franchigia:Euro/////// (/00); b)
                       massimale: Euro /////////////(///////////00).Fermo restando quanto sopra,
                       il risarcimento trova applicazione in maniera sussidiaria rispetto ad
                       eventuali assicurazioni sottoscritte dagli Operatori, trovando applicazione
                       solo nella misura e quota parte in cui le prime non dovessero essere
                       sufficientemente capienti a coprire il danno cagionato.Resta in ogni caso
                       inteso che Spotless non provvederà in alcun caso a risarcire l’Utente per
                       danni di importo inferiore a quello della franchigia, oppure superiore a
                       quello del massimale sopra riportati.
                   </p>
                   <p align="left">
                       6.3 Al fine di poter ottenere un risarcimento ai sensi del
                       precedente articolo 6.2, l’Utente è obbligato a contestare i danni
                       cagionati dall’Operatore entro il termine massimo di 3 (tre) ore dal
                       termine della prestazione, inviando una comunicazione scritta
                       all’indirizzo e-mail servizioclienti@spotless.it ed ovviamente allegando a
                       tale
                       comunicazione le fotografie che attestino il danno subito. Tutte le
                       contestazioni incomplete ovvero avvenute oltre il termine di cui al
                       presente articolo 6.3 saranno ritenute nulle e come non pervenute.
                   </p>
                   <p align="left">
                       6.4 Le condizioni di cui al precedente paragrafo ricoprono i danni
                       derivanti dalle prenotazioni svolte unicamente attraverso il Sito.
                   </p>
                   <p>
                       <strong>7)Cancellazioni</strong>
                   </p>
                   <p align="left">
                       7.1 L’Utente ha la facoltà di cancellare la prenotazione senza costi
                       aggiuntivi fino a 48(quarantotto) ore prima della prestazione. Nel
                       giro delle 24 (ventiquattro) ore successive alla cancellazione
                       Spotless provvederà al rimborso di quanto pagato. Le
                       prenotazioni cancellate oltre il termine di 48(quarantotto) prima
                       della prestazione saranno soggette a diversi termini di rimborso di
                       volta in volta indicate.
                   </p>
                   <p align="left">
                       <strong>8)Condizioni di Rimborso</strong>
                   </p>
                   <ol start="8">
                   </ol>
                   <p align="left">
                       8.1 Spotless non è in nessun modo responsabile del ritardo o della
                       non esecuzione del servizio da parte degli Operatori.
                       L’Utente, dunque, non ha diritto al rimborso dell’importo versato
                       al momento della prenotazione di spettanza di Spotless.
                   </p>
                   <p align="left">
                       8.2 Fermo restando quanto sopraindicato, Spotless concede all’Utente la
                       possibilità, nel caso della mancata prestazione, ovvero ritardo per fatto
                       imputabile all’Operatore, di ricevere il rimborso del corrispettivo di
                       prenotazione solo ove ricorrano le seguenti circostanze:
                   </p>
                   <p align="left">
                       a) avvio della prestazione con un ritardo superiore a 30 (trenta) minuti
                       per causa imputabile all’Operatore; 
				   </p>
                   <p align="left">
					   b) mancata esecuzione della prestazione
                       per causa imputabile all’Operatore.
                   </p>
                   <p align="left">
                       Le cause imputabili all’Operatore non comprendono la forza
                       maggiore, e, a titolo di esempio, incidenti, malattie, morte
                       dell’Operatore, alluvioni, terremoti, calamità naturali, scioperi.
                   </p>
                   <p align="left">
                       8.3 Alternativamente al rimborso ed all’avveramento e accertamento delle
                       medesime condizioni previste per lo stesso, l’Utente potrà
                       richiedere a Spotless che il corrispettivo versato al momento
                       della prenotazione possa essere riutilizzato per una prenotazione
                       futura del servizio.
                   </p>
                   <p align="left">
                       8.4Nei casi di rimborso per le cause indicate nel paragrafo 8.2, l’Utente
                       dovrà inviare una comunicazione scritta a mezzo e-mail all’indirizzo di
                       posta elettronica servizioclienti@spotless.it specificando
                       obbligatoriamente i dettagli dell’offerta in questione. Tale diritto potrà
                       esercitarsi nelle 12 (dodici) ore successive all’orario previsto per
                       l’avvio della prestazione, di modo da favorire il pronto confronto con
                       l’Operatore inadempiente.
                   </p>
                   <p align="left">
                       8.5 Le presenti condizioni di rimborso non troveranno applicazione
                       in caso di inadempimento della prestazione dell’Operatore per
                       causa imputabile all’Utente quale, a titolo di esemplificativo e non
                       esaustivo, assenza dell’Utente dall’abitazione all’orario della
                       prenotazione, mancato accordo con, o inadempimento da parte di
                       persone di fiducia, rifiuto dell’Utente ovvero di una persona di sua
                       fiducia ad accogliere l’Operatore, etc.
                   </p>
                   <p align="left">
                       <strong>9) Recesso dal Servizio</strong>
                   </p>
                   <ol start="9">
                   </ol>
                   <p align="left">
                       9.1 L’Utente potrà cancellare liberamente ed in qualsiasi momento
                       il proprio account Spotless inviando una comunicazione scritta a mezzo di
                       posta elettronica all’indirizzo servizioclienti@spotless.it
                       L’effettiva cancellazione avverrà nelle 48 (quarantotto) ore successive
                       alla predetta comunicazione.
                   </p>
                   <p align="left">
                       9.2 Anche al di fuori dei casi sopracitati, Spotless si riserva il pieno
                       diritto di recedere liberamente dal rapporto con l'Utente, previo invio di
                       una comunicazione da inoltrare all'indirizzo di posta elettronica
                       comunicato all'atto della registrazione sul Sito.
                       Per effetto della comunicazione di recesso: a) l'Utente non potrà accedere
                       ai servizi di Spotless sino a nuova e differente comunicazione; b) Spotless
                       si riserva il diritto di rimuovere qualsiasi password o account dell'Utente
                       stesso e di inibirne di nuovo l'accesso al sito.
                   </p>
                   <ol start="10">
                       <li>
                           <p align="left">
                               <strong>
                                   Proprietà e diritti sul sito web e sui suoi contenuti
                               </strong>
                           </p>
                       </li>
                   </ol>
                   <p align="left">
                       10.1 La struttura del Sito e tutti i contenuti in esso presenti o resi
                       disponibili sotto forma di testi, grafiche, loghi, pulsanti di icone,
                       immagini, animazioni, file audio o video, nomi, marchi, segni distintivi,
                       intestazioni di pagine, download digitali, raccolte di dati e software
                       sono, a seconda del caso, di proprietà di Spotless o dei suoi
                       fornitori/partner commerciali e sono protetti
                       dalle leggi italiane ed internazionali in materia di diritto di proprietà
                       intellettuale. In particolare, il nome, i marchi e i segni distintivi di
                       Spotless non possono essere utilizzati in relazione a prodotti o servizi
                       che non siano di Spotless, in maniera tale da generare confusione tra il
                       pubblico o in qualsiasi modo che possa screditare o denigrare Spotless.
                   </p>
                   <p align="left">
                       Eventuali ulteriori marchi non di proprietà di Spotless che compaiono sul
                       Sito sono di proprietà dei rispettivi titolari, che hanno autorizzato
                       Spotless a pubblicarli sul Sito ed utilizzarli ai fini della fornitura dei
                       servizi.
                   </p>
                   <p align="left">
                       10.2 Il codice informatico delle applicazioni che costituiscono il
                       Sito è, a seconda del caso, di proprietà di Spotless o utilizzato da
                       Spotless sulla base di licenze ed è protetto dalle leggi italiane ed
                       internazionali in materia di diritto di proprietà intellettuale. Non è
                       consentito estrarre e/o riutilizzare sistematicamente parti del Sito
                       senza l'espresso consenso scritto di Spotless. In particolare, non è
                       consentito utilizzare alcun dispositivo di acquisizione o estrazione
                       per estrarre (una o più volte) o riutilizzare qualsiasi parte
                       sostanziale del Sito senza l’espresso consenso scritto di Spotless.
                       L’Utente non potrà neppure creare e/o pubblicare un suo database
                       che riproduca parti sostanziali (ad es. prezzi) del Sito senza
                       l'espresso consenso scritto di Spotless.
                   </p>
                   <p align="left">
                       10.3 Non è possibile procedere all’utilizzo di link in-line, al framing
                       o utilizzare tecniche di framing per appropriarsi indebitamente di
                       qualsiasi marchio, logo o altra informazione proprietaria (inclusi
                       immagini, testo, impostazioni di pagina, o formato) di Spotless in
                       assenza di un espresso consenso scritto da parte di Spotless. Non
                       è possibile utilizzare alcun meta tag o ogni altro "testo nascosto"
                       usando il nome o i marchi di Spotless senza l'espresso consenso
                       scritto da parte di Spotless.
                   </p>
                   <p>
                       <strong>
                           11) Limitazione di responsabilità relativa al funzionamento del
                           Servizio
                       </strong>
                   </p>
                   <p align="left">
                       11.1 Spotless si obbliga a fare del proprio meglio per assicurare che
                       l'accesso al Sito venga fornito senza interruzioni e disfunzioni e che le
                       trasmissioni avvengano senza errori. Tuttavia, a causa della natura di
                       Internet,
                       l'accesso ininterrotto e l'assenza di errori nella trasmissione non
                      possono essere garantiti. Inoltre, l’accesso al Sito e/o ai Servizi
                       potrebbe anche essere occasionalmente sospeso o limitato per
                       consentire l'effettuazione di lavori di riparazione, manutenzione, o
                       l'introduzione di nuove attività o servizi. Pertanto, Spotless cercherà in
                       ogni modo di limitare e ridurre al minimo la frequenza e la durata di
                       queste sospensioni e limitazioni.
                   </p>
                   <p align="left">
                       11.2 Spotless non si assume in nessun caso la responsabilità per qualsiasi
                       danno diretto o indiretto lamentato o patito dall’Utente che non sia
                       conseguenza di violazioni da parte di Spotless delle presenti Condizioni
                       Generali di Contratto.
                   </p>
                   <p align="left">
                       11.3 Spotless non rilascia alcuna garanzia con riferimento ai
                       commenti rilasciati sul Sito dagli Utenti a seguito dell’utilizzazione
                       del Servizio. Gli Utenti stessi, in conformità a quanto disposto dal
                       paragrafo 3.6 delle presenti Condizioni di Utilizzo, saranno gli
                       unici responsabili della veridicità di quanto scritto e del contenuto di
                       tali commenti e valutazioni. Spotless dichiara che il Sito non è da
                       considerarsi un
                       prodotto editoriale e, pertanto, non è sottoposto alle disposizioni dettate
                       in materia dalla legge n. 62 del 7.03.2001.
                   </p>
                   <p align="left">
                       <strong>12) Esclusione di responsabilità di Spotless</strong>
                   </p>
                   <ol start="12">
                   </ol>
                   <p align="left">
                       12.1 Spotless non ha alcun rapporto speciale o obbligo fiduciario
                       verso l’Utente che accetta di utilizzare il Servizio.
                       Pertanto, Spotless non ha nessuna responsabilità e nessun dovere di
                       intraprendere qualunque azione riguardo: a) l’identificazione
                       degli Utenti che accedono al Servizio; b) i contenuti a cui l’Utente
                       accede attraverso il Servizio; c) gli effetti di tali contenuti
                       sull’Utente;
                       d) l’interpretazione e/o l’utilizzazione dei contenuti da
                       parte dell’Utente; e) le azioni che l’Utente può intraprendere come
                       conseguenza dell’esposizione a tali contenuti.
                   </p>
                   <p align="left">
                       12.2 Con l’accettazione delle presenti Condizioni di Utilizzo Spotless
                       viene di conseguenza esonerata da qualsiasi responsabilità per avere
                       acquisito o non acquisito contenuti attraverso il Servizio. Il Servizio può
                       contenere, o indirizzare a siti contenenti, informazioni che potrebbero
                       risultare per alcuni persone offensive o inappropriate.
                   </p>
                   <p align="left">
                       Spotless non rilascia alcuna dichiarazione riguardo i contenuti ivi
                       presenti o a cui si accede attraverso il Servizio. Spotless inoltre, non
                       deve essere ritenuta responsabile o perseguibile per la precisione, il
                       rispetto dei diritti di autore, la legalità o la decenza del materiale
                       contenuto o accessibile tramite il Servizio.
                   </p>
                   <ol start="12">
                       <ol start="3">
                           <li>
                               <p align="left">
                                   Con la presente si esonera Spotless da qualsiasi responsabilità
                                   riguardante i legami e le relazioni tra Utenti e tra gli Utenti
                                   e gli Operatori. Si accetta la consapevolezza che non verranno
                                   selezionati in alcun modo gli Utenti, né si indagherà sulla
                                   vita privata degli Utenti o si cercherà di controllare il loro
                                   passato o le loro affermazioni. Non verrà rilasciata alcuna
                                   dichiarazione o garanzia circa il comportamento degli Utenti o
                                   la veridicità delle informazioni da essi fornite. Pertanto,
                                   l’Utente si impegna a prendere precauzioni ragionevoli e a
                                   prestare la massima attenzione personale in tutte le
                                   interazioni con qualsiasi individuo con cui potrebbe venire a
                                   contatto tramite il Servizio.
                               </p>
                               <p align="left">
                                   12.4 In ogni caso, Spotless non risponde: 1) dell'esecuzione
                                   mancata o difforme - da parte dell’Operatore della prestazione
                                   dovuta all'Utente; 2) della conformità e accuratezza dei
                                   servizi resi dall’Operatore; 3) dei danni che a qualunque
                                   titolo l'Utente ritenesse di aver subito per effetto
                                   dell'esecuzione o dalla non esecuzione della prestazione da
                                   parte dell’Operatore salvo quanto previsto al paragrafo 6 delle
                                   Condizioni di Utilizzo; 4) dei danni che dovessero essere
                                   inferiori alla franchigia o superiori al massimale assicurativo
                                   di cui al paragrafo 6.2; 5) dei danni che, pur rientrando nelle
                                   limitazioni di cui al paragrafo 6.2, non vengano segnalati
                                   dall’Utente con tempestività e nelle modalità indicate al
                                   paragrafo 6.3; 6) delle perdite o danni diretti o indiretti
                                   derivanti dall’affidamento, anche temporaneo,agli Operatori
                                   delle chiavi di accesso ai luoghi da pulire, la cui eventuale
                                   scelta e responsabilità per la stessa rimangono solo ed
                                   esclusivamente in capo agli Utenti.
                               </p>
                           </li>
                       </ol>
                   </ol>
                   <p align="left">
                       12.5 Fermo restando quanto sopra, è compito dell’Utente far sì che
                       nell’ambiente in cui l’Operatore svolge la prestazione non siano presenti
                       possibilità di pericoli e/o eventuali fonti di danno per l’Operatore
                       stesso.
                   </p>
                   <p align="left">
                       Coerentemente a quanto previsto dal precedente paragrafo, Spotless non
                       risponde in nessun modo di eventuali danni cagionati all’Operatore ovvero a
                       beni e/o alla persona dell’Utente derivanti dalla presenza di tali pericoli
                       e/o fonti di danno.
                   </p>
                   <p align="left">
                       12.6 Spotless si avvale di servizi di pagamento esterni forniti da società
                       altamente professionali e affermate sul mercato. I pagamenti effettuati a
                       mezzo del Sito saranno gestiti direttamente da tali terze parti. Qualunque
                       errore nell’esecuzione dei pagamenti che non sia dovuto a cause imputabili
                       all’Utente all’atto della prenotazione sarà pertanto solo ed esclusivamente
                       attribuibile a tali terze parti e non comporteranno responsabilità e/o
                       obbligo di rimborso alcuno da parte di Spotless.
                   </p>
                   <p align="left">
                       12.7 L’esenzione da responsabilità di cui al precedente paragrafo si
                       applica anche in caso di errori e/o ritardi nell’effettuazione e/o nella
                       conferma della prenotazione dovuti a fornitori esterni dei servizi
                       attraverso cui avviene il reperimento degli Operatori da parte di Spotless.
                   </p>
                   <p align="left">
                       12.8Pertanto, si ribadisce all'utilizzatore del sito, vale a dire l'Utente
                       che per qualsiasi segnalazione relativa alla illiceità di comportamenti e/o
                       contenuti, l'Utente può inviare un messaggio all’indirizzo di posta
                       elettronica servizioclienti@spotless.it segnalando tutti i dettagli del
                       problema.
                   </p>
                   <p align="left">
                       <strong>13) Modifica delle Condizioni di Utilizzo</strong>
                   </p>
                   <ol start="13">
                   </ol>
                   <p align="left">
                       13.1 Spotless si riserva il diritto, a sua esclusiva discrezione, di
                       modificare o sostituire le presenti Condizioni di Utilizzo, e di
                       modificare, sospendere o interrompere il Servizio (compresa, senza
                       limitazione, la disponibilità di qualsiasi funzione, database, o contenuto)
                       in qualsiasi momento pubblicando un avviso sul sito www.spotlessitalia.com
                       e/o tramite comunicazione all’indirizzo di posta elettronica conferito al
                       momento della registrazione al Servizio.
                   </p>
                   <p align="left">
                       Spotless può inoltre impostare dei limiti a determinate caratteristiche e
                   </p>
                   <p align="left">
                       servizi e/o limitare e/o ridurre l’accesso a parti o a tutto il Servizio
                       senza
                   </p>
                   <p align="left">
                       preavviso o responsabilità. È responsabilità dell’Utente e dell’Operatore
                       controllare periodicamente le modifiche alle presenti Condizioni di
                       Utilizzo. L'utilizzo continuato del Servizio dopo la pubblicazione di
                       eventuali modifiche alle presenti Condizioni di Utilizzo costituisce
                       accettazione di tali modifiche.
                   </p>
                   <p align="left">
                       <strong>14) Legge applicabile e foro competente</strong>
                   </p>
                   <p align="left">
                       14.1 Le presenti Condizioni di Utilizzo sono regolate dalla legge italiana.
                       Per qualsiasi controversia nascente in merito alle presenti Condizioni di
                       Utilizzo ed alle attività dalle stesse regolate è competente il foro di
                       Milano.
                   </p>
                   <p align="left">
                       <strong>15)</strong>
                       <strong>Specifica accettazione clausole ex art. 1341 e 1342 c.c.</strong>
                   </p>
                   <ol start="15">
                   </ol>
                   <p align="left">
                       15.1 l’Utente e l’Operatore dichiarano di accettare espressamente i
                      paragrafi 3 (Norme di Condotta), 5 (Servizio in prestazione
                       ripetuta), 6 (Assicurazione per danni),8 (Condizioni di rimborso), 11
                       (Limitazione di responsabilità relativa al funzionamento del
                       Servizio), 12 (Esclusione di responsabilità di Spotless) e 13
                       (Modifica delle Condizioni di Utilizzo) delle presenti Condizioni di
                       Utilizzo, ai fini e per gli effetti di cui agli artt. 1341 (Condizioni
                       generali di contratto) e 1342 (Contratto concluso mediante moduli
                       o formulari) del Codice Civile.
                   </p>
                   <p align="left">
                       15.2 L’utilizzo del Servizio dovrà essere interpretato come esplicita
                       accettazione di cui al paragrafo 15.1.
                   </p>
               </div>
            </main>
        </div>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'

  export default {
    name: 'conditions',
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    }
  }
</script>
